<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container">
        <!--begin::Invoice 2 main-->
        <div class="card">
            <!--begin::Card header-->
            <div class="card-header border-0 pt-6">
                <!--begin::Card title-->
                <div class="card-title">
                    <div class="d-flex align-items-center position-relative my-1">
                        <div class="fw-bolder fs-3 text-gray-800 mb-8">{{ auction?.code }}</div>
                    </div>
                </div>
                <!--begin::Card title-->
                <!--begin::Card toolbar-->
                <div class="card-toolbar">
                    <!--begin::Toolbar-->
                    <div class="d-flex justify-content-end" data-kt-item-table-toolbar="base">
                        <!--begin::Add item-->
                        <a class="btn btn-primary mx-2" href="new-item?id={{auction?.id}}&owner={{auction?.owner_id}}">
                            <!--begin::Svg Icon | path: icons/duotone/Navigation/Plus.svg-->
                            <span class="svg-icon svg-icon-2">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <rect fill="#000000" x="4" y="11" width="16" height="2" rx="1" />
                                    <rect fill="#000000" opacity="0.5"
                                        transform="translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000)"
                                        x="4" y="11" width="16" height="2" rx="1" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->{{'Add Item' | translate}}
                        </a>
                        <!--end::Add item-->
                        <!--begin::Add item-->
                        <a class="btn btn-primary mx-2" (click)="export(auction?.id)">
                            <!--begin::Svg Icon | path: icons/duotone/Navigation/Plus.svg-->
                            <span class="svg-icon svg-icon-2">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <rect fill="#000000" opacity="0.3"
                                            transform="translate(12.000000, 7.000000) rotate(-180.000000) translate(-12.000000, -7.000000) "
                                            x="11" y="1" width="2" height="12" rx="1" />
                                        <path
                                            d="M17,8 C16.4477153,8 16,7.55228475 16,7 C16,6.44771525 16.4477153,6 17,6 L18,6 C20.209139,6 22,7.790861 22,10 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,9.99305689 C2,7.7839179 3.790861,5.99305689 6,5.99305689 L7.00000482,5.99305689 C7.55228957,5.99305689 8.00000482,6.44077214 8.00000482,6.99305689 C8.00000482,7.54534164 7.55228957,7.99305689 7.00000482,7.99305689 L6,7.99305689 C4.8954305,7.99305689 4,8.88848739 4,9.99305689 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,10 C20,8.8954305 19.1045695,8 18,8 L17,8 Z"
                                            fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                        <path
                                            d="M14.2928932,10.2928932 C14.6834175,9.90236893 15.3165825,9.90236893 15.7071068,10.2928932 C16.0976311,10.6834175 16.0976311,11.3165825 15.7071068,11.7071068 L12.7071068,14.7071068 C12.3165825,15.0976311 11.6834175,15.0976311 11.2928932,14.7071068 L8.29289322,11.7071068 C7.90236893,11.3165825 7.90236893,10.6834175 8.29289322,10.2928932 C8.68341751,9.90236893 9.31658249,9.90236893 9.70710678,10.2928932 L12,12.5857864 L14.2928932,10.2928932 Z"
                                            fill="#000000" fill-rule="nonzero" />
                                    </g>
                                </svg>
                            </span>
                            <!--end::Svg Icon-->{{'Export Auction' | translate}}
                        </a>
                        <!--end::Add item-->
                        <!--begin::Add item-->
                        <a class="btn btn-primary mx-2" (click)="import(auction?.id)">
                            <!--begin::Svg Icon | path: icons/duotone/Navigation/Plus.svg-->
                            <span class="svg-icon svg-icon-2">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <path
                                            d="M17,8 C16.4477153,8 16,7.55228475 16,7 C16,6.44771525 16.4477153,6 17,6 L18,6 C20.209139,6 22,7.790861 22,10 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,9.99305689 C2,7.7839179 3.790861,5.99305689 6,5.99305689 L7.00000482,5.99305689 C7.55228957,5.99305689 8.00000482,6.44077214 8.00000482,6.99305689 C8.00000482,7.54534164 7.55228957,7.99305689 7.00000482,7.99305689 L6,7.99305689 C4.8954305,7.99305689 4,8.88848739 4,9.99305689 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,10 C20,8.8954305 19.1045695,8 18,8 L17,8 Z"
                                            fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                        <rect fill="#000000" opacity="0.3"
                                            transform="translate(12.000000, 8.000000) scale(1, -1) rotate(-180.000000) translate(-12.000000, -8.000000) "
                                            x="11" y="2" width="2" height="12" rx="1" />
                                        <path
                                            d="M12,2.58578644 L14.2928932,0.292893219 C14.6834175,-0.0976310729 15.3165825,-0.0976310729 15.7071068,0.292893219 C16.0976311,0.683417511 16.0976311,1.31658249 15.7071068,1.70710678 L12.7071068,4.70710678 C12.3165825,5.09763107 11.6834175,5.09763107 11.2928932,4.70710678 L8.29289322,1.70710678 C7.90236893,1.31658249 7.90236893,0.683417511 8.29289322,0.292893219 C8.68341751,-0.0976310729 9.31658249,-0.0976310729 9.70710678,0.292893219 L12,2.58578644 Z"
                                            fill="#000000" fill-rule="nonzero"
                                            transform="translate(12.000000, 2.500000) scale(1, -1) translate(-12.000000, -2.500000) " />
                                    </g>
                                </svg>
                            </span>
                            <!--end::Svg Icon-->{{'Import Auction' | translate}}
                        </a>
                        <!--end::Add item-->
                    </div>
                    <!--end::Toolbar-->
                    <!--begin::Group actions-->
                    <div class="d-flex justify-content-end align-items-center d-none"
                        data-kt-item-table-toolbar="selected">
                        <div class="fw-bolder me-5">
                            <span class="me-2" data-kt-item-table-select="selected_count"></span>Selected
                        </div>
                        <button type="button" class="btn btn-danger" data-kt-item-table-select="delete_selected">Delete
                            Selected</button>
                    </div>
                    <!--end::Group actions-->
                    <!--begin::Modal - Adjust Balance-->
                    <div class="modal fade" id="kt_modal_export_items" tabindex="-1" aria-hidden="true">
                        <!--begin::Modal dialog-->
                        <div class="modal-dialog modal-dialog-centered mw-650px">
                            <!--begin::Modal content-->
                            <div class="modal-content">
                                <!--begin::Modal header-->
                                <div class="modal-header">
                                    <!--begin::Modal title-->
                                    <h2 class="fw-bolder">{{'Export items' | translate}}</h2>
                                    <!--end::Modal title-->
                                    <!--begin::Close-->
                                    <div class="btn btn-icon btn-sm btn-active-icon-primary"
                                        data-kt-items-modal-action="close">
                                        <!--begin::Svg Icon | path: icons/duotone/Navigation/Close.svg-->
                                        <span class="svg-icon svg-icon-1">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                                viewBox="0 0 24 24" version="1.1">
                                                <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)"
                                                    fill="#000000">
                                                    <rect fill="#000000" x="0" y="7" width="16" height="2" rx="1" />
                                                    <rect fill="#000000" opacity="0.5"
                                                        transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)"
                                                        x="0" y="7" width="16" height="2" rx="1" />
                                                </g>
                                            </svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                    </div>
                                    <!--end::Close-->
                                </div>
                                <!--end::Modal header-->
                            </div>
                            <!--end::Modal content-->
                        </div>
                        <!--end::Modal dialog-->
                    </div>
                    <!--end::Modal - New Card-->
                </div>
                <!--end::Card toolbar-->
            </div>
            <!--end::Card header-->
            <!--begin::Body-->
            <div class="card-body pt-0">
                <!--begin::Layout-->
                <div class="d-flex flex-column flex-xl-row">
                    <!--begin::Content-->
                    <div class="flex-lg-row-fluid me-xl-18 mb-10 mb-xl-0">
                        <!--begin::Invoice 2 content-->
                        <div class="mt-n1">
                            <!--begin::Wrapper-->
                            <div class="m-0">
                                <!--begin::Label-->
                                <!-- <div class="fw-bolder fs-3 text-gray-800 mb-8">{{ auction?.code }}</div> -->
                                <!--end::Label-->
                                <!--begin::Row-->
                                <div class="row g-5 mb-11">
                                    <!--end::Col-->
                                    <div class="col-sm-6">
                                        <!--end::Label-->
                                        <div class="fw-bold fs-7 text-gray-600 mb-1">{{'Start Date' | translate}}:</div>
                                        <!--end::Label-->
                                        <!--end::Col-->
                                        <div class="fw-bolder fs-6 text-gray-800">{{ auction?.start_date | date }}</div>
                                        <!--end::Col-->
                                    </div>
                                    <!--end::Col-->
                                    <!--end::Col-->
                                    <div class="col-sm-6">
                                        <!--end::Label-->
                                        <div class="fw-bold fs-7 text-gray-600 mb-1">{{'End Date' | translate}}:</div>
                                        <!--end::Label-->
                                        <!--end::Info-->
                                        <div class="fw-bolder fs-6 text-gray-800 d-flex align-items-center flex-wrap">
                                            <span class="pe-2">{{ auction?.end_date | date }}</span>
                                        </div>
                                        <!--end::Info-->
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Row-->
                                <!--begin::Row-->
                                <!--begin::Content-->
                                <div class="row g-5 mb-6" *ngIf="items && items.length > 0">
                                    <!--begin::Table-->
                                    <div class="table-responsive border-bottom mb-3">
                                        <div class="fw-bold fs-7 text-gray-600 mb-1">{{'Auction Items' | translate}}</div>
                                        <table class="table mb-3" id="kt_table_items">
                                            <thead class="border-bottom border-gray-200">
                                                <!--begin::Table row-->
                                                <tr class="text-gray-400 fw-bolder fs-7 text-uppercase gs-0" [class]="translate.currentLang=='en' || !translate.currentLang? 'text-start' : 'text-end'">
                                                    <th class="w-10px pe-2">
                                                        <div
                                                            class="form-check form-check-sm form-check-custom form-check-solid me-3">
                                                            <input class="form-check-input" type="checkbox"
                                                                (click)="checkUncheckAll()" data-kt-check="true"
                                                                data-kt-check-target="#kt_table_items .form-check-input"
                                                                value="1" />
                                                        </div>
                                                    </th>
                                                    <th class="w-100px">{{'Code' | translate}}</th>
                                                    <th>{{'Title' | translate}}</th>
                                                    <th>{{'Current Price' | translate}}</th>
                                                    <th>{{'Buy Price' | translate}}</th>
                                                    <th>{{'Status' | translate}}</th>
                                                    <th></th>
                                                </tr>
                                                <!--end::Table row-->
                                            </thead>
                                            <!--begin::Table body-->
                                            <tbody class="fs-6 fw-bold text-gray-600">
                                                <!--begin::Table row-->
                                                <tr *ngFor="let item of items; let i = index;">
                                                    <!--begin::Checkbox-->
                                                    <td>
                                                        <div
                                                            class="form-check form-check-sm form-check-custom form-check-solid">
                                                            <input class="form-check-input" type="checkbox"
                                                                [(ngModel)]="item.selected" value="item.id" />
                                                        </div>
                                                    </td>
                                                    <!--end::Checkbox-->
                                                    <!--begin::Invoice=-->
                                                    <td><a [routerLink]="['/item-details']"
                                                            [queryParams]="{ id: item.id }">{{
                                                            item.code | uppercase }}</a></td>
                                                    <!--end::Invoice=-->
                                                    <!--begin::Amount=-->
                                                    <td>{{ item.title.en }} <br> {{ item.title.ar }}</td>
                                                    <!--end::Amount=-->
                                                    <!--begin::Date=-->
                                                    <td>{{item.current_price | currency:'OMR' }}</td>
                                                    <!--end::Date=-->
                                                    <!--begin::Date=-->
                                                    <td>{{item.buy_price | currency:'OMR' }}</td>
                                                    <!--end::Date=-->
                                                    <!--begin::Amount=-->
                                                    <td>
                                                        <div class="badge badge-light-info fw-bolder">{{
                                                            item.item_status | translate}}</div>
                                                    </td>
                                                    <!--end::Amount=-->
                                                    <td>
                                                        <a *ngIf="item.item_status.toLowerCase()=='approval'"
                                                            title="Approve Item" (click)="onApproveClicked(item.id)"
                                                            data-bs-toggle="modal" data-bs-target="#kt_modal_note_form"
                                                            class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                                            <!--begin::Svg Icon | path: icons/duotone/General/Trash.svg-->
                                                            <span class="svg-icon svg-icon-3 svg-icon-success"><svg
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    width="24px" height="24px" viewBox="0 0 24 24"
                                                                    version="1.1">
                                                                    <g stroke="none" stroke-width="1" fill="none"
                                                                        fill-rule="evenodd">
                                                                        <polygon points="0 0 24 0 24 24 0 24" />
                                                                        <path
                                                                            d="M9.26193932,16.6476484 C8.90425297,17.0684559 8.27315905,17.1196257 7.85235158,16.7619393 C7.43154411,16.404253 7.38037434,15.773159 7.73806068,15.3523516 L16.2380607,5.35235158 C16.6013618,4.92493855 17.2451015,4.87991302 17.6643638,5.25259068 L22.1643638,9.25259068 C22.5771466,9.6195087 22.6143273,10.2515811 22.2474093,10.6643638 C21.8804913,11.0771466 21.2484189,11.1143273 20.8356362,10.7474093 L17.0997854,7.42665306 L9.26193932,16.6476484 Z"
                                                                            fill="#000000" fill-rule="nonzero"
                                                                            opacity="0.3"
                                                                            transform="translate(14.999995, 11.000002) rotate(-180.000000) translate(-14.999995, -11.000002) " />
                                                                        <path
                                                                            d="M4.26193932,17.6476484 C3.90425297,18.0684559 3.27315905,18.1196257 2.85235158,17.7619393 C2.43154411,17.404253 2.38037434,16.773159 2.73806068,16.3523516 L11.2380607,6.35235158 C11.6013618,5.92493855 12.2451015,5.87991302 12.6643638,6.25259068 L17.1643638,10.2525907 C17.5771466,10.6195087 17.6143273,11.2515811 17.2474093,11.6643638 C16.8804913,12.0771466 16.2484189,12.1143273 15.8356362,11.7474093 L12.0997854,8.42665306 L4.26193932,17.6476484 Z"
                                                                            fill="#000000" fill-rule="nonzero"
                                                                            transform="translate(9.999995, 12.000002) rotate(-180.000000) translate(-9.999995, -12.000002) " />
                                                                    </g>
                                                                </svg>
                                                            </span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <!--end::Table row-->
                                            </tbody>
                                            <!--end::Table body-->
                                        </table>
                                    </div>
                                    <div class="col">
                                        <button *ngIf="approvalBtn" (click)="approvalModal=true;" type="button"
                                            class="btn btn-primary">{{'Approve Selected' | translate}}</button>
                                    </div>
                                    <!--end::Table-->
                                </div>
                                <div class="row g-5 mb-6" *ngIf="templates && templates.length > 0">
                                    <!--begin::Table-->
                                    <div class="table-responsive border-bottom mb-9">
                                        <div class="fw-bold fs-7 text-gray-600 mb-1">{{'Auction Templates' | translate}}</div>
                                        <table class="table mb-3">
                                            <thead class="border-bottom border-gray-200">
                                                <!--begin::Table row-->
                                                <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                                    <th class="w-125px">{{'Code' | translate}}</th>
                                                    <th class="w-100px">{{'Status' | translate}}</th>
                                                    <th class="w-300px">{{'Create Date' | translate}}</th>
                                                </tr>
                                                <!--end::Table row-->
                                            </thead>
                                            <!--begin::Table body-->
                                            <tbody class="fs-6 fw-bold text-gray-600">
                                                <!--begin::Table row-->
                                                <tr *ngFor="let item of templates; let i = index;">
                                                    <!--begin::Invoice=-->
                                                    <td><a [routerLink]="['/template-details']"
                                                            [queryParams]="{ id: item.id }">{{
                                                            item.code | uppercase }}</a></td>
                                                    <!--end::Invoice=-->
                                                    <!--begin::Amount=-->
                                                    <td>
                                                        <div class="badge badge-light-info fw-bolder">{{
                                                            item.item_status  | translate }}</div>
                                                    </td>
                                                    <!--end::Amount=-->
                                                    <td>{{item.create_date | date:'medium'}}</td>
                                                </tr>
                                                <!--end::Table row-->
                                            </tbody>
                                            <!--end::Table body-->
                                        </table>
                                    </div>
                                </div>
                                <!--end::Content-->
                                <div class="row g-5 mb-5" *ngIf="auction?.terms.en || auction?.terms.ar">
                                    <div class="col">
                                        <!--end::Label-->
                                        <div class="fw-bold fs-7 text-gray-600 mb-1">{{'Auction Terms' | translate}}:</div>
                                        <!--end::Label-->
                                        <!--end::Text-->
                                        <div class="fw-bolder fs-6 text-gray-800">
                                            <p class="text-justify" markdown >{{ auction?.terms.en }}
                                            </p>
                                            <p class="text-justify" markdown >{{ auction?.terms.ar }}
                                            </p>
                                        </div>
                                        <!--end::Text-->
                                        <!--end::Description-->
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <div class="row g-5 mb-5" *ngIf="auction?.description.en || auction?.description.ar">
                                    <!--end::Col-->
                                    <div class="col">
                                        <!--end::Label-->
                                        <div class="fw-bold fs-7 text-gray-600 mb-1">{{'Description' | translate}}:</div>
                                        <!--end::Label-->
                                        <!--end::Text-->
                                        <div class="fw-bolder fs-6 text-gray-800">
                                            <p class="text-justify">{{ auction?.description.en }}
                                                <br> {{ auction?.description.ar }}
                                            </p>
                                        </div>
                                        <!--end::Text-->
                                        <!--end::Description-->
                                    </div>
                                    <!--end::Col-->
                                </div>
                            </div>
                            <!--end::Wrapper-->
                        </div>
                        <!--end::Invoice 2 content-->
                    </div>
                    <!--end::Content-->
                    <!--begin::Sidebar-->
                    <div class="m-0">
                        <!--begin::Invoice 2 sidebar-->
                        <div
                            class="d-print-none border border-dashed border-gray-300 card-rounded h-lg-100 min-w-md-350px p-9 bg-lighten">
                            <!--begin::Labels-->
                            <div class="mb-8">
                                <span class="badge badge-light-success me-2">{{ auction?.auction_status | translate }}</span>
                                <!-- <span class="badge badge-light-warning">Pending Payment</span> -->
                            </div>
                            <!--end::Labels-->
                            <!--begin::Title-->
                            <h6 class="mb-8 fw-boldest text-gray-600 text-hover-primary">{{'AUCTION OVERVIEW' | translate}}</h6>
                            <!--end::Title-->
                            <!--begin::Item-->
                            <div class="mb-6">
                                <div class="fw-bold text-gray-600 fs-7">{{'Auction Title' | translate}}</div>
                                <div class="fw-bolder fs-6 text-gray-800">{{ auction?.title.en }} - {{ auction?.title.ar
                                    }}
                                </div>
                            </div>
                            <!--begin::Item-->
                            <div class="mb-6">
                                <div class="fw-bold text-gray-600 fs-7">{{'Split Payment' | translate}}:</div>
                                <div class="fw-bolder text-gray-800 fs-6">
                                    <span *ngIf="auction?.split_payment" class="badge badge-primary me-2">{{'True' | translate}}</span>
                                    <span *ngIf="!auction?.split_payment" class="badge badge-info me-2">{{'False' | translate}}</span>
                                </div>
                            </div>
                            <!--end::Item-->
                            <!--end::Col-->
                            <div class="row g-5 mb-6">
                                <!--end::Col-->
                                <div class="col-sm-6">
                                    <!--end::Label-->
                                    <div class="fw-bold fs-7 text-gray-600 mb-1">{{'Auction Type' | translate}}:</div>
                                    <!--end::Label-->
                                    <!--end::Col-->
                                    <div class="fw-bolder fs-6 text-gray-800">{{ auction?.auction_type | translate }}
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Col-->
                                <!--end::Col-->
                                <div class="col-sm-6">
                                    <!--end::Label-->
                                    <div class="fw-bold fs-7 text-gray-600 mb-1">{{'Deposit' | translate}}:</div>
                                    <!--end::Label-->
                                    <!--end::Info-->
                                    <div class="fw-bolder fs-6 text-gray-800 d-flex align-items-center flex-wrap">
                                        <span class="pe-2">{{ auction?.deposit | currency:'OMR' }}</span>
                                    </div>
                                    <!--end::Info-->
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Col-->
                            <!--end::Col-->
                            <div class="row g-5 mb-6">
                                <!--end::Col-->
                                <div class="col-sm-6">
                                    <!--end::Label-->
                                    <div class="fw-bold fs-7 text-gray-600 mb-1">{{'Auction Fee' | translate}}:</div>
                                    <!--end::Label-->
                                    <!--end::Col-->
                                    <div class="fw-bolder fs-6 text-gray-800">{{ auction?.auction_fee }}
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Col-->
                                <!--end::Col-->
                                <div class="col-sm-6">
                                    <!--end::Label-->
                                    <div class="fw-bold fs-7 text-gray-600 mb-1">{{'Mazad Auction Fee' | translate}}:</div>
                                    <!--end::Label-->
                                    <!--end::Info-->
                                    <div class="fw-bolder fs-6 text-gray-800 d-flex align-items-center flex-wrap">
                                        <span class="pe-2">{{ auction?.mazad_auction_fee }}</span>
                                    </div>
                                    <!--end::Info-->
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Col-->
                            <!--end::Col-->
                            <div class="row g-5 mb-6">
                                <!--end::Col-->
                                <div class="col-sm-6">
                                    <!--end::Label-->
                                    <div class="fw-bold fs-7 text-gray-600 mb-1">{{'Vat For Item' | translate}}:</div>
                                    <!--end::Label-->
                                    <!--end::Col-->
                                    <div class="fw-bolder fs-6 text-gray-800">{{ auction?.vat_for_item }}
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Col-->
                                <!--end::Col-->
                                <div class="col-sm-6">
                                    <!--end::Label-->
                                    <div class="fw-bold fs-7 text-gray-600 mb-1">{{'Vat For Mazad' | translate}}:</div>
                                    <!--end::Label-->
                                    <!--end::Info-->
                                    <div class="fw-bolder fs-6 text-gray-800 d-flex align-items-center flex-wrap">
                                        <span class="pe-2">{{ auction?.vat_for_mazad }}</span>
                                    </div>
                                    <!--end::Info-->
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Col-->
                            <!--end::Col-->
                            <div class="row g-5 mb-6">
                                <!--end::Col-->
                                <div class="col-sm-6">
                                    <!--end::Label-->
                                    <div class="fw-bold fs-7 text-gray-600 mb-1">{{'Mazad Service Fee' | translate}}:</div>
                                    <!--end::Label-->
                                    <!--end::Col-->
                                    <div class="fw-bolder fs-6 text-gray-800">{{ auction?.mazad_service_fee }}
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Col-->
                                <!--end::Col-->
                            </div>
                            <!--end::Col-->
                            <div class="row g-5 mb-6">
                                <!--end::Col-->
                                <div class="col-sm-6">
                                    <!--end::Label-->
                                    <div class="fw-bold fs-7 text-gray-600 mb-1">{{'Auction Method' | translate}}:</div>
                                    <!--end::Label-->
                                    <!--end::Col-->
                                    <div class="fw-bolder fs-6 text-gray-800">{{ auction?.auction_method | titlecase }}
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Col-->
                                <!--end::Col-->
                                <div class="col-sm-6">
                                    <!--end::Label-->
                                    <div class="fw-bold fs-7 text-gray-600 mb-1">{{'Owner Code' | translate}}:</div>
                                    <!--end::Label-->
                                    <!--end::Info-->
                                    <div class="fw-bolder fs-6 text-gray-800 d-flex align-items-center flex-wrap">
                                        <span class="pe-2">{{ auction?.owner_code }}</span>
                                    </div>
                                    <!--end::Info-->
                                </div>
                                <!--end::Col-->
                            </div>
                            <!--end::Col-->
                            <!--begin::Title-->
                            <h6 class="mb-8 fw-boldest text-gray-600 text-hover-primary">{{'GENERAL REFRENCES' | translate}}</h6>
                            <!--end::Title-->
                            <!--begin::Item-->
                            <div class="mb-6">
                                <div class="fw-bold text-gray-600 fs-7">{{'Owner' | translate}}:</div>
                                <div class="fw-bolder text-gray-800 fs-6">{{ auction?.owner_id | uppercase}}</div>
                            </div>
                            <!--end::Item-->
                            <!--begin::Item-->
                            <div class="mb-6" *ngIf="auction?.payment_id">
                                <div class="fw-bold text-gray-600 fs-7">{{'Payment ID' | translate}}:</div>
                                <div class="fw-bolder text-gray-800 fs-6">{{ auction?.payment_id | uppercase }}</div>
                            </div>
                            <!--end::Item-->
                            <!--begin::Item-->
                            <div class="mb-6" *ngIf="auction?.template_id">
                                <div class="fw-bold text-gray-600 fs-7">{{'Template ID' | translate}}:</div>
                                <div class="fw-bolder fs-6 text-gray-800 d-flex align-items-center">{{
                                    auction?.template_id | uppercase }}</div>
                            </div>
                            <!--end::Item-->
                            <!--begin::Item-->
                            <div class="mb-6" *ngIf="auction?.group_id">
                                <div class="fw-bold text-gray-600 fs-7">{{'Group ID' | translate}}:</div>
                                <div class="fw-bolder fs-6 text-gray-800 d-flex align-items-center">{{ auction?.group_id
                                    | uppercase }}</div>
                            </div>
                            <!--end::Item-->
                        </div>
                        <!--end::Invoice 2 sidebar-->
                    </div>
                    <!--end::Sidebar-->
                </div>
                <!--end::Layout-->
            </div>
            <!--end::Body-->
            <div *ngIf="errorMessage" class="swal2-container swal2-center swal2-backdrop-show"
                style="overflow-y: auto;">
                <div aria-labelledby="swal2-title" aria-describedby="swal2-content"
                    class="swal2-popup swal2-modal swal2-icon-error swal2-show" tabindex="-1" role="dialog"
                    aria-live="assertive" aria-modal="true" style="display: flex;">
                    <div class="swal2-header">
                        <div class="swal2-icon swal2-error swal2-icon-show" style="display: flex;"><span
                                class="swal2-x-mark">
                                <span class="swal2-x-mark-line-left"></span>
                                <span class="swal2-x-mark-line-right"></span>
                            </span>
                        </div><img class="swal2-image" style="display: none;">
                        <h2 class="swal2-title" id="swal2-title" style="display: none;"></h2><button type="button"
                            class="swal2-close" aria-label="Close this dialog" style="display: none;">×</button>
                    </div>
                    <div class="swal2-content">
                        <div id="swal2-content" class="swal2-html-container" style="display: block;">{{'Sorry, looks like there are some errors detected, please try again.' | translate}}</div>
                    </div>
                    <div class="swal2-actions">
                        <div class="swal2-loader"></div>
                        <button type="button" class="swal2-confirm btn btn-light" style="display: inline-block;"
                            (click)="errorMessage=false">{{'Ok, got it!' | translate}}</button>
                    </div>
                </div>
            </div>
            <div *ngIf="successMessage" class="swal2-container swal2-center swal2-backdrop-show"
                style="overflow-y: auto;">
                <div aria-labelledby="swal2-title" aria-describedby="swal2-content"
                    class="swal2-popup swal2-modal swal2-icon-success swal2-show" tabindex="-1" role="dialog"
                    aria-live="assertive" aria-modal="true" style="display: flex;">
                    <div class="swal2-header">
                        <div class="swal2-icon swal2-success swal2-icon-show" style="display: flex;">
                            <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);">
                            </div>
                            <span class="swal2-success-line-tip"></span> <span class="swal2-success-line-long"></span>
                            <div class="swal2-success-ring"></div>
                            <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                            <div class="swal2-success-circular-line-right"
                                style="background-color: rgb(255, 255, 255);">
                            </div>
                        </div><img class="swal2-image" style="display: none;">
                        <h2 class="swal2-title" id="swal2-title" style="display: none;"></h2><button type="button"
                            class="swal2-close" aria-label="Close this dialog" style="display: none;">×</button>
                    </div>
                    <div class="swal2-content">
                        <div id="swal2-content" class="swal2-html-container" style="display: block;">{{'Request has been successfully submitted!' | translate}}</div>
                    </div>
                    <div class="swal2-actions">
                        <div class="swal2-loader"></div><button type="button" class="swal2-confirm btn btn-primary"
                            (click)="successMessage=false" style="display: inline-block;">{{'Ok' | translate}}</button>
                    </div>
                </div>
            </div>
            <div *ngIf="approvalModal" class="swal2-container swal2-center swal2-backdrop-show"
                style="overflow-y: auto;">
                <div aria-labelledby="swal2-title" aria-describedby="swal2-content"
                    class="swal2-popup swal2-modal swal2-icon-success swal2-show" tabindex="-1" role="dialog"
                    aria-live="assertive" aria-modal="true" style="display: flex;">
                    <div class="swal2-header">
                        <div class="swal2-icon swal2-question swal2-icon-show" style="display: flex;">
                            <div class="swal2-icon-content">?</div>
                        </div>
                        <img class="swal2-image" style="display: none;">
                        <h2 class="swal2-title" id="swal2-title" style="display: none;"></h2><button type="button"
                            class="swal2-close" aria-label="Close this dialog" style="display: none;">×</button>
                    </div>
                    <div class="swal2-content">
                        <div id="swal2-content" class="swal2-html-container" style="display: block;">{{'Approve selected items?' | translate}}
                        </div>
                    </div>
                    <div class="swal2-actions">
                        <div class="swal2-loader"></div>
                        <button type="button" class="swal2-confirm btn btn-primary"
                            (click)="approvalModal=false; onApproveClicked();"
                            style="display: inline-block;">Yes</button>
                        <button type="reset" class="btn btn-white me-3" (click)="approvalModal=false"
                            style="display: inline-block;">Discard</button>
                    </div>
                </div>
            </div>
            <div *ngIf="emptyModal" class="swal2-container swal2-center swal2-backdrop-show" style="overflow-y: auto;">
                <div aria-labelledby="swal2-title" aria-describedby="swal2-content"
                    class="swal2-popup swal2-modal swal2-icon-info swal2-show" tabindex="-1" role="dialog"
                    aria-live="assertive" aria-modal="true" style="display: flex;">
                    <div class="swal2-header">
                        <div class="swal2-icon swal2-info swal2-icon-show" style="display: flex;">
                            <div class="swal2-icon-content">i</div>
                        </div>
                        <img class="swal2-image" style="display: none;">
                        <h2 class="swal2-title" id="swal2-title" style="display: none;"></h2><button type="button"
                            class="swal2-close" aria-label="Close this dialog" style="display: none;">×</button>
                    </div>
                    <div class="swal2-content">
                        <div id="swal2-content" class="swal2-html-container" style="display: block;">{{'Everything looks fine, no item to approve.' | translate}}
                        </div>
                    </div>
                    <div class="swal2-actions">
                        <div class="swal2-loader"></div>
                        <button type="reset" class="btn btn-white me-3" (click)="emptyModal=false"
                            style="display: inline-block;">{{'Ok!' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Invoice 2 main-->
    </div>
    <!--end::Container-->
</div>
<!--end::Post-->