<div class="container">
    <div class="row">
        <div class="col">
            <img alt="Logo" src="../../../assets/media/logos/logo.png" class="h-75px logo" />
        </div>
    </div>
    <div class="row">
        <div style="display: flex; align-items: center; justify-content: center;">
            <qrcode [qrdata]="url" [width]="156" [errorCorrectionLevel]="'M'"></qrcode>
        </div>
    </div>
    <div class="row">
        <div style="display: flex; align-items: center; justify-content: center;">
            <p>{{ this.url }}</p>
        </div>
    </div>
    <div class="d-flex flex-column flex-xl-row">
        <div class="col">
            <div class="card mb-5 mb-xl-8">
                <!--begin::Card header-->
                <div class="card-header border-0">
                    <div class="card-title">
                        <h3 class="fw-bolder m-0">Item Description</h3>
                    </div>
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body pt-2">
                    <!--begin::Items-->
                    <div class="py-2">
                        <!--begin::Item-->
                        <div class="row">
                            <div class="col-6">
                                <div class="fw-bolder mt-5">ID</div>
                                <div class="fs-5 fw-bold text-gray-400 mb-6">{{ item?.id | uppercase}}</div>
                            </div>
                            <div class="col-6">
                                <div class="fw-bolder mt-5">Code</div>
                                <div class="text-gray-600">{{ item?.code | uppercase }} </div>
                            </div>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="row">
                            <div class="col-6">
                                <div class="fw-bolder mt-5">Title</div>
                                <div class="text-gray-600">{{ item?.title.en }}</div>
                            </div>
                            <div class="col-6">
                                <div class="fw-bolder mt-5">Description</div>
                                <div class="text-gray-600">{{ item?.description.en }} <br> {{
                                    item?.description.ar }} </div>
                            </div>
                        </div>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <div class="d-flex flex-stack" *ngFor="let key of keys">
                            <div class="d-flex">
                                <div class="d-flex flex-column">
                                    <div class="fw-bolder mt-5">{{ key }}</div>
                                    <div class="text-gray-600">{{ item?.details[key] }}</div>
                                </div>
                            </div>
                        </div>
                        <!--end::Item-->
                    </div>
                    <!--end::Items-->
                </div>
                <!--end::Card body-->
            </div>
        </div>
    </div>
</div>