<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container">
        <!--begin::Invoice 2 main-->
        <div class="card">
            <!--begin::Body-->
            <div class="card-body p-lg-20">
                <!--begin::Layout-->
                <div class="d-flex flex-column flex-xl-row">
                    <!--begin::Content-->
                    <div class="flex-lg-row-fluid me-xl-18 mb-10 mb-xl-0">
                        <!--begin::Invoice 2 content-->
                        <div class="mt-n1">
                            <!--begin::Wrapper-->
                            <div class="m-0">
                                <!--begin::Label-->
                                <div class="fw-bolder fs-3 text-gray-800 mb-8">#{{ invoice?.number }}</div>
                                <!--end::Label-->
                                <!--begin::Row-->
                                <div class="row g-5 mb-11">
                                    <!--end::Col-->
                                    <div class="col-sm-6">
                                        <!--end::Label-->
                                        <div class="fw-bold fs-7 text-gray-600 mb-1">{{'Invoice ID' | translate}}:</div>
                                        <!--end::Label-->
                                        <!--end::Col-->
                                        <div class="fw-bolder fs-6 text-gray-800">{{ invoice?.id | uppercase}}</div>
                                        <!--end::Col-->
                                    </div>
                                    <!--end::Col-->
                                    <!--end::Col-->
                                    <div class="col-sm-6" *ngIf="invoice?.vat_number">
                                        <!--end::Label-->
                                        <div class="fw-bold fs-7 text-gray-600 mb-1">{{'VAT Number' | translate}}:</div>
                                        <!--end::Label-->
                                        <!--end::Info-->
                                        <div class="fw-bolder fs-6 text-gray-800 d-flex align-items-center flex-wrap">
                                            <span class="pe-2">{{ invoice?.vat_number }}</span>
                                        </div>
                                        <!--end::Info-->
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Row-->
                                <!--begin::Row-->
                                <div class="row g-5 mb-11">
                                    <!--end::Col-->
                                    <div class="col-sm-6">
                                        <!--end::Label-->
                                        <div class="fw-bold fs-7 text-gray-600 mb-1">{{'Transaction ID' | translate}}:</div>
                                        <!--end::Label-->
                                        <!--end::Col-->
                                        <div class="fw-bolder fs-6 text-gray-800"><a [routerLink]="['/payment-details']"
                                            [queryParams]="{ id: invoice?.transaction_id }">{{ invoice?.transaction_id |
                                            uppercase}}</a></div>
                                        <!--end::Col-->
                                    </div>
                                    <!--end::Col-->
                                    <!--end::Col-->
                                    <div class="col-sm-6">
                                        <!--end::Label-->
                                        <div class="fw-bold fs-7 text-gray-600 mb-1">{{'Invoice Number' | translate}}:</div>
                                        <!--end::Label-->
                                        <!--end::Info-->
                                        <div class="fw-bolder fs-6 text-gray-800 d-flex align-items-center flex-wrap">
                                            <span class="pe-2">{{ invoice?.number }}</span>
                                        </div>
                                        <!--end::Info-->
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Row-->
                                <!--begin::Row-->
                                <div class="row g-5 mb-12">
                                    <!--end::Col-->
                                    <div class="col-sm-6">
                                        <!--end::Label-->
                                        <div class="fw-bold fs-7 text-gray-600 mb-1">{{'Invoice Details' | translate}}:</div>
                                        <!--end::Label-->
                                        <!--end::Text-->
                                        <div class="fw-bolder fs-6 text-gray-800">{{ invoice?.details.id | uppercase }}
                                            <br> {{ invoice?.details.description | localName}} <br> Amount: {{
                                            invoice?.details.amount | currency:' OMR '}}, Fee: {{ invoice?.details.fee |
                                            currency:' OMR '}}
                                        </div>
                                        <!--end::Text-->
                                    </div>
                                    <!--end::Col-->
                                    <!--end::Col-->
                                    <div class="col-sm-6">
                                        <!--end::Label-->
                                        <div class="fw-bold fs-7 text-gray-600 mb-1">{{'Invoice Date' | translate}}:</div>
                                        <!--end::Label-->
                                        <!--end::Text-->
                                        <div class="fw-bolder fs-6 text-gray-800">{{ invoice?.date | date:'medium' }}
                                        </div>
                                        <!--end::Text-->
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Row-->
                                <div class="row g-5 mb-12">
                                    <div class="col-sm-6">
                                        <a class="btn btn-info align-self-center" (click)="printInv()"
                                            [routerLink]="['/print_invoice']" target="_blank">{{'Print Invoice' | translate}}</a>
                                    </div>
                                </div>
                            </div>
                            <!--end::Wrapper-->
                        </div>
                        <!--end::Invoice 2 content-->
                    </div>
                    <!--end::Content-->
                    <!--begin::Sidebar-->
                    <div class="m-0">
                        <!--begin::Invoice 2 sidebar-->
                        <div
                            class="d-print-none border border-dashed border-gray-300 card-rounded h-lg-100 min-w-md-350px p-9 bg-lighten">
                            <!--begin::Title-->
                            <h6 class="mb-8 fw-boldest text-gray-600 text-hover-primary">{{'INVOICE OVERVIEW' | translate}}</h6>
                            <!--end::Title-->
                            <!--begin::Item-->
                            <div class="mb-6">
                                <div class="fw-bold text-gray-600 fs-7">{{'Invoice Total Amount' | translate}}</div>
                                <div class="fw-bolder fs-6 text-gray-800">{{ invoice?.total_amount | currency:' OMR ' }}
                                </div>
                            </div>
                            <div class="mb-6">
                                <div class="fw-bold text-gray-600 fs-7">{{'Model' | translate}}</div>
                                <div class="fw-bolder fs-6 text-gray-800">{{ invoice?.model_type }}
                                    <br> {{ invoice?.model_id | uppercase }}
                                </div>
                            </div>
                            <!--end::Item-->
                            <!--begin::Title-->
                            <h6 class="mb-8 fw-boldest text-gray-600 text-hover-primary">{{'GENERAL REFRENCES' | translate}}</h6>
                            <!--end::Title-->
                            <!--begin::Item-->
                            <div class="mb-6" *ngIf="invoice?.owner_id">
                                <div class="fw-bold text-gray-600 fs-7">{{'Owner' | translate}}:</div>
                                <div class="fw-bolder text-gray-800 fs-6">{{ invoice?.owner_id | uppercase}}</div>
                            </div>
                            <!--end::Item-->
                            <!--begin::Item-->
                            <div class="mb-6" *ngIf="invoice?.owner_id">
                                <div class="fw-bold text-gray-600 fs-7">{{'Owner Details' | translate}}:</div>
                                <div class="fw-bolder text-gray-800 fs-6">{{ invoice?.owner_details }}</div>
                            </div>
                            <!--end::Item-->
                            <!--begin::Item-->
                            <div class="mb-6">
                                <div class="fw-bold text-gray-600 fs-7">{{'User' | translate}}:</div>
                                <div class="fw-bolder text-gray-800 fs-6"><a [routerLink]="['/user-details']"
                                        [queryParams]="{ id: invoice?.user_id }">{{ invoice?.user_details.email }} <br> {{
                                        invoice?.user_details.phone }}</a></div>
                            </div>
                            <!--end::Item-->
                            <!--begin::Item-->
                            <div class="mb-6">
                                <div class="fw-bold text-gray-600 fs-7">{{'User Details' | translate}}:</div>
                                <div class="fw-bolder text-gray-800 fs-6">{{ invoice?.user_details.details.name_en }} <br>
                                    {{ invoice?.user_details.details.name_ar }} <br> {{
                                    invoice?.user_details.details.id_card_number }}</div>
                            </div>
                            <!--end::Item-->
                        </div>
                        <!--end::Invoice 2 sidebar-->
                    </div>
                    <!--end::Sidebar-->
                </div>
                <!--end::Layout-->
            </div>
            <!--end::Body-->
        </div>
        <!--end::Invoice 2 main-->
    </div>
    <!--end::Container-->
</div>
<!--end::Post-->