<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container">
        <!--begin::Card-->
        <div class="card">
            <!--begin::Card body-->
            <div class="card-body">
                <!--begin::Stepper-->
                <div class="stepper stepper-links d-flex flex-column pt-15" id="kt_create_account_stepper">
                    <!--begin::Nav-->
                    <div class="stepper-nav mb-5">
                        <!--begin::Step 1-->
                        <div class="stepper-item current" data-kt-stepper-element="nav">
                            <h3 class="stepper-title">
                                {{ "Start Template" | translate }}
                            </h3>
                        </div>
                        <!--end::Step 1-->
                        <!--begin::Step 2-->
                        <div class="stepper-item" data-kt-stepper-element="nav">
                            <h3 class="stepper-title">
                                {{ "Template Description" | translate }}
                            </h3>
                        </div>
                        <!--end::Step 2-->
                        <!--begin::Step 3-->
                        <div class="stepper-item" data-kt-stepper-element="nav">
                            <h3 class="stepper-title">
                                {{ "Template Details" | translate }}
                            </h3>
                        </div>
                        <!--end::Step 3-->
                        <!--begin::Step 4-->
                        <div class="stepper-item" data-kt-stepper-element="nav">
                            <h3 class="stepper-title">
                                {{ "Completed" | translate }}
                            </h3>
                        </div>
                        <!--end::Step 4-->
                    </div>
                    <!--end::Nav-->
                    <!--begin::Form-->
                    <form class="mx-auto mw-600px w-100 pt-15 pb-10" novalidate="novalidate"
                        id="kt_create_account_form">
                        <!--begin::Step 1-->
                        <div class="current" data-kt-stepper-element="content">
                            <!--begin::Wrapper-->
                            <div class="w-100">
                                <!--begin::Heading-->
                                <div class="pb-10 pb-lg-12">
                                    <!--begin::Title-->
                                    <h2 class="fw-bolder text-dark">
                                        {{ "Template Description" | translate }}
                                    </h2>
                                    <!--end::Title-->
                                </div>
                                <!--end::Heading-->
                                <div class="fv-row mb-10">
                                    <!--begin::Label-->
                                    <label class="required fw-bold fs-6 mb-2">{{ "Title" | translate }}</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="text" name="title_en"
                                        class="form-control form-control-solid mb-3 mb-lg-0"
                                        placeholder="English" [(ngModel)]="auction_template.title_en" />
                                    <br>
                                    <input type="text" name="title_ar"
                                        class="form-control form-control-solid mb-3 mb-lg-0"
                                        placeholder="Arabic" [(ngModel)]="auction_template.title_ar" />
                                    <!--end::Input-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="fv-row mb-10">
                                    <!--begin::Label-->
                                    <label class="form-label required">
                                        {{ "Template Code" | translate }}
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="text" name="code"
                                        class="form-control form-control-solid mb-3 mb-lg-0"
                                        placeholder="Unique Code" [(ngModel)]="auction_template.code" />
                                    <!--end::Input-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="fv-row mb-10">
                                    <!--begin::Label-->
                                    <label class="required fw-bold fs-6 mb-2">
                                        {{ "Latitude" | translate }}
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="text" name="latitude"
                                        class="form-control form-control-solid mb-3 mb-lg-0"
                                        placeholder="21.000001" [(ngModel)]="auction_template.latitude" />
                                    <!--end::Input-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="fv-row mb-10">
                                    <!--begin::Label-->
                                    <label class="required fw-bold fs-6 mb-2">
                                        {{ "Longtitude" | translate }}
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="text" name="longtitude"
                                        class="form-control form-control-solid mb-3 mb-lg-0"
                                        placeholder="57.222111" [(ngModel)]="auction_template.longtitude" />
                                    <!--end::Input-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="fv-row mb-10">
                                    <!--begin::Label-->
                                    <label class="required fw-bold fs-6 mb-2">
                                        {{ "Governorate" | translate }}
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="text" name="governorate"
                                        class="form-control form-control-solid mb-3 mb-lg-0"
                                        placeholder="Muscat" [(ngModel)]="auction_template.governorate" />
                                    <!--end::Input-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="fv-row mb-10">
                                    <!--begin::Label-->
                                    <label class="required fw-bold fs-6 mb-2">
                                        {{ "Address" | translate }}
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="text" name="address"
                                        class="form-control form-control-solid mb-3 mb-lg-0"
                                        placeholder="Oman Muscat" [(ngModel)]="auction_template.address" />
                                    <!--end::Input-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="fv-row mb-10">
                                    <!--begin::Label-->
                                    <label class="required fw-bold fs-6 mb-2">
                                        {{ "Start Date" | translate }}
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="datetime-local" name="start_date"
                                        class="form-control form-control-solid mb-3 mb-lg-0"
                                        [(ngModel)]="auction_template.start_date" />
                                    <!--end::Input-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="fv-row mb-10">
                                    <!--begin::Label-->
                                    <label class="required fw-bold fs-6 mb-2">
                                        {{ "End Date" | translate }}
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="datetime-local" name="end_date"
                                        class="form-control form-control-solid mb-3 mb-lg-0"
                                        [(ngModel)]="auction_template.end_date" />
                                    <!--end::Input-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="fv-row mb-10">
                                    <!--begin::Label-->
                                    <label class="required fw-bold fs-6 mb-2"> 
                                        {{ "Extension Period" | translate }}
                                        <small>({{ "Seconds" | translate }})</small>></label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="number" name="extension_period"
                                        class="form-control form-control-solid mb-3 mb-lg-0" placeholder="1"
                                        [(ngModel)]="auction_template.extension_period" />
                                    <!--end::Input-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="fv-row mb-10">
                                    <!--begin::Label-->
                                    <label class="form-label required">{{ "Owner" | translate }}</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <select name="owner_id"
                                        class="form-select form-select-lg form-select-solid"
                                        [(ngModel)]="auction_template.owner_id">
                                        <option *ngFor="let owner of owners" [ngValue]='owner.id'>{{
                                            owner.code +': '+ owner.title.en +' - '+ owner.title.ar
                                            }}</option>
                                    </select>
                                    <!--end::Input-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="fv-row mb-10">
                                    <!--begin::Label-->
                                    <label class="form-label required">
                                        {{ "Auction" | translate }}
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <select name="auction_id"
                                        class="form-select form-select-lg form-select-solid"
                                        [(ngModel)]="auction_template.auction_id">
                                        <option *ngFor="let auction of auctions" [ngValue]='auction.id'>
                                            {{ auction.code
                                            }}</option>
                                    </select>
                                    <!--end::Input-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="fv-row mb-10">
                                    <!--begin::Label-->
                                    <label class="form-label required">
                                        {{ "Category" | translate }}
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <select name="category_id" (change)="getForm()"
                                        class="form-select form-select-lg form-select-solid"
                                        [(ngModel)]="auction_template.category_id">
                                        <option *ngFor="let category of categories" [ngValue]='category.id'>
                                            {{
                                            category.name.en
                                            }}</option>
                                    </select>
                                    <!--end::Input-->
                                </div>
                                <!--begin::Input group-->
                                <div class="fv-row mb-10">
                                    <!--begin::Label-->
                                    <label class="required fw-bold fs-6 mb-2">
                                        {{ "Description" | translate }}
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <textarea cols="20" rows="5" name="description_en"
                                        class="form-control form-control-solid mb-3 mb-lg-0"
                                        placeholder="Description English"
                                        [(ngModel)]="auction_template.description_en"></textarea>
                                    <br>
                                    <textarea cols="20" rows="5" name="description_ar"
                                        class="form-control form-control-solid mb-3 mb-lg-0"
                                        placeholder="Description Arabic"
                                        [(ngModel)]="auction_template.description_ar"></textarea>
                                    <!--end::Input-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="fv-row mb-10">
                                    <!--begin::Label-->
                                    <label class="required fw-bold fs-6 mb-2">
                                        {{ "Terms" | translate }}
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <textarea cols="20" rows="5" name="terms_en"
                                        class="form-control form-control-solid mb-3 mb-lg-0"
                                        placeholder="Terms English"
                                        [(ngModel)]="auction_template.terms_en"></textarea>
                                    <br>
                                    <textarea cols="20" rows="5" name="terms_ar"
                                        class="form-control form-control-solid mb-3 mb-lg-0"
                                        placeholder="Terms Arabic"
                                        [(ngModel)]="auction_template.terms_ar"></textarea>
                                    <!--end::Input-->
                                </div>
                                <!--end::Input group-->
                            </div>
                            <!--end::Wrapper-->
                        </div>
                        <!--end::Step 1-->
                        <!--begin::Step 2-->
                        <div data-kt-stepper-element="content">
                            <!--begin::Wrapper-->
                            <div class="w-100">
                                <!--begin::Heading-->
                                <div class="pb-10 pb-lg-12">
                                    <!--begin::Title-->
                                    <h2 class="fw-bolder text-dark">
                                        {{ "Template Description" | translate }}
                                    </h2>
                                    <!--end::Title-->
                                </div>
                                <!--end::Heading-->
                                <!--begin::Input group-->
                                <div class="fv-row mb-10">
                                    <!--begin::Label-->
                                    <label class="form-label required">
                                        {{ "Deposit" | translate }}
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="number" name="deposit"
                                        class="form-control form-control-solid mb-3 mb-lg-0"
                                        placeholder="1000.0" [(ngModel)]="auction_template.deposit" />
                                    <!--end::Input-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="fv-row mb-10">
                                    <!--begin::Label-->
                                    <label class="required fw-bold fs-6 mb-2">
                                        {{ "Time Between Items" | translate }} <small>( {{ "Minutes" | translate }})</small></label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="number" name="time_between_items"
                                        class="form-control form-control-solid mb-3 mb-lg-0"
                                        placeholder="10"
                                        [(ngModel)]="auction_template.time_between_items" />
                                    <!--end::Input-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="fv-row mb-10">
                                    <!--begin::Label-->
                                    <label class="required fw-bold fs-6 mb-2">
                                        {{ "Payment Period" | translate }}
                                        <small>(  {{ "Days" | translate }})</small></label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="number" name="payment_period"
                                        class="form-control form-control-solid mb-3 mb-lg-0"
                                        placeholder="5"
                                        [(ngModel)]="auction_template.payment_period" />
                                    <!--end::Input-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="fv-row mb-10">
                                    <!--begin::Label-->
                                    <label class="required fw-bold fs-6 mb-2">
                                        {{ "Collecting Period" | translate }}
                                        <small>( {{ "Days" | translate }})</small></label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="number" name="collecting_period"
                                        class="form-control form-control-solid mb-3 mb-lg-0"
                                        placeholder="5"
                                        [(ngModel)]="auction_template.collecting_period" />
                                    <!--end::Input-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="fv-row mb-10">
                                    <!--begin::Label-->
                                    <label class="required fw-bold fs-6 mb-2">
                                        {{ "Start Price" | translate }}
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="number" name="start_price"
                                        class="form-control form-control-solid mb-3 mb-lg-0"
                                        placeholder="1000.00" [(ngModel)]="auction_template.start_price" />
                                    <!--end::Input-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="fv-row mb-10">
                                    <!--begin::Label-->
                                    <label class="required fw-bold fs-6 mb-2">
                                        {{ "Minimum Bid" | translate }}
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="number" name="min_bid"
                                        class="form-control form-control-solid mb-3 mb-lg-0"
                                        placeholder="1000.00" [(ngModel)]="auction_template.min_bid" />
                                    <!--end::Input-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="fv-row mb-10">
                                    <!--begin::Label-->
                                    <label class="required fw-bold fs-6 mb-2">
                                        {{ "Acceptable Price" | translate }}
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="number" name="acceptable_price"
                                        class="form-control form-control-solid mb-3 mb-lg-0"
                                        placeholder="1000.00"
                                        [(ngModel)]="auction_template.acceptable_price" />
                                    <!--end::Input-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="fv-row mb-10">
                                    <!--begin::Label-->
                                    <label class="required fw-bold fs-6 mb-2">
                                        {{ "Buy Price" | translate }}
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="number" name="buy_price"
                                        class="form-control form-control-solid mb-3 mb-lg-0"
                                        placeholder="1000.00" [(ngModel)]="auction_template.buy_price" />
                                    <!--end::Input-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="fv-row mb-10">
                                    <!--begin::Label-->
                                    <label class="required fw-bold fs-6 mb-2">
                                        {{ "Inspection Start Date" | translate }}
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="date" name="inspection_start_date"
                                        class="form-control form-control-solid mb-3 mb-lg-0"
                                        [(ngModel)]="inspections.inspection_start_date" />
                                    <!--end::Input-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="fv-row mb-10">
                                    <!--begin::Label-->
                                    <label class="required fw-bold fs-6 mb-2">
                                        {{ "Inspection End Date" | translate }}
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="date" name="inspection_end_date"
                                        class="form-control form-control-solid mb-3 mb-lg-0"
                                        [(ngModel)]="inspections.inspection_end_date" />
                                    <!--end::Input-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="fv-row mb-10">
                                    <!--begin::Label-->
                                    <label class="required fw-bold fs-6 mb-2">
                                        {{ "Inspection Start Time" | translate }}
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="time" name="inspection_start_time"
                                        class="form-control form-control-solid mb-3 mb-lg-0"
                                        [(ngModel)]="inspections.inspection_start_time" />
                                    <!--end::Input-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="fv-row mb-10">
                                    <!--begin::Label-->
                                    <label class="required fw-bold fs-6 mb-2">
                                        {{ "Inspection End Time" | translate }}
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <input type="time" name="inspection_end_time"
                                        class="form-control form-control-solid mb-3 mb-lg-0"
                                        [(ngModel)]="inspections.inspection_end_time" />
                                    <!--end::Input-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="fv-row mb-10">
                                    <!--begin::Label-->
                                    <label class="fw-bold fs-6 mb-2">Email</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <textarea cols="20" rows="2" name="email" class="form-control form-control-solid mb-3 mb-lg-0" [(ngModel)]="auction_template.contacts.email" ></textarea>
                                    <!--end::Input-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="fv-row mb-10">
                                    <!--begin::Label-->
                                    <label class="fw-bold fs-6 mb-2">Mobile</label>
                                    <!--end::Label-->
                                    <!--begin::Input-->
                                    <textarea cols="20" rows="2" name="mobile" class="form-control form-control-solid mb-3 mb-lg-0" [(ngModel)]="auction_template.contacts.mobile"></textarea>
                                    <!--end::Input-->
                                </div>
                            </div>
                            <!--end::Wrapper-->
                        </div>
                        <!--end::Step 2-->
                        <!--begin::Step 3-->
                        <div data-kt-stepper-element="content">
                            <!--begin::Wrapper-->
                            <div class="w-100">
                                <!--begin::Heading-->
                                <div class="pb-10 pb-lg-15">
                                    <!--begin::Title-->
                                    <h2 class="fw-bolder text-dark">
                                        {{ "Item Fields Details" | translate }}
                                    </h2>
                                    <!--end::Title-->
                                </div>
                                <!--end::Heading-->
                                <!--begin::Input group-->
                                <div class="fv-row mb-7" *ngFor="let field of fields; let i = index;">
                                    <!--begin::Label-->
                                    <label class="fw-bold fs-6 mb-2" [class]="field.mandatory? 'required' : ''">{{
                                        field.title.en
                                        }}</label>
                                    <div *ngIf="field.field_type=='Text'">
                                        <input type="text" class="form-control form-control-solid mb-3 mb-lg-0"
                                            placeholder="{{ field.value.en }}"
                                            [(ngModel)]="item_details[field.title.en]"
                                            name="item_details[{{field.title.en}}]" /> <br>
                                        <input type="text" class="form-control form-control-solid mb-3 mb-lg-0"
                                            placeholder="{{ field.value.ar }}"
                                            [(ngModel)]="item_details[field.title.ar]"
                                            name="item_details[{{field.title.ar}}]" />
                                    </div>
                                    <div *ngIf="field.field_type=='TextArea'">
                                        <textarea cols="20" rows="5"
                                            class="form-control form-control-solid mb-3 mb-lg-0"
                                            placeholder="{{ field.value.en }}"
                                            [(ngModel)]="item_details[field.title.en]"
                                            name="item_details[{{field.title.en}}]"></textarea>
                                        <br>
                                        <textarea cols="20" rows="5"
                                            class="form-control form-control-solid mb-3 mb-lg-0"
                                            placeholder="{{ field.value.ar }}"
                                            [(ngModel)]="item_details[field.title.ar]"
                                            name="item_details[{{field.title.ar}}]"></textarea>
                                    </div>
                                    <div *ngIf="field.field_type=='Number'">
                                        <input type="number" class="form-control form-control-solid mb-3 mb-lg-0"
                                            placeholder="{{ field.value.en }}"
                                            [(ngModel)]="item_details[field.title.en]"
                                            name="item_details[{{field.title.en}}]" />
                                    </div>
                                    <div *ngIf="field.field_type=='Date'">
                                        <input type="date" class="form-control form-control-solid mb-3 mb-lg-0"
                                            [(ngModel)]="item_details[field.title.en]"
                                            name="item_details[{{field.title.en}}]" />
                                    </div>
                                    <div *ngIf="field.field_type=='radio'">
                                        <div *ngFor="let value of field.values" class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input"
                                                [(ngModel)]="item_details[field.title.en]"
                                                name="item_details[{{field.title.en}}]" value="{{ value }}" />
                                            <label class="form-label px-6">{{ value }}</label>
                                        </div>
                                    </div>
                                    <div *ngIf="field.field_type=='Checkbox'">
                                        <div *ngFor="let value of field.values" class="form-check form-check-inline">
                                            <input type="checkbox" class="form-check-input" value=""
                                                (click)="onCheckBoxClicked(field.title.en, value)" />
                                            <label class="form-label px-6">{{ value }}</label>
                                        </div>
                                    </div>
                                    <div *ngIf="field.field_type=='Select'">
                                        <select class="form-select form-select-lg form-select-solid"
                                            [(ngModel)]="item_details[field.title.en]"
                                            name="item_details[{{field.title.en}}]">
                                            <option *ngFor="let value of field.values" (value)="value">{{
                                                value }}</option>
                                        </select>
                                    </div>
                                    <div *ngIf="field.field_type=='File'">
                                        <input type="file" class="form-control" id="files" multiple
                                            (change)="fileChange($event)" />
                                    </div>
                                    <div *ngIf="field.field_type=='Html'">
                                        Html content ..
                                    </div>
                                    <!--end::Label-->
                                </div>
                                <!--end::Input group-->
                            </div>
                            <!--end::Wrapper-->
                        </div>
                        <!--end::Step 3-->
                        <!--begin::Step 4-->
                        <div data-kt-stepper-element="content">
                            <!--begin::Wrapper-->
                            <div class="w-100">
                                <!--begin::Heading-->
                                <div class="pb-8 pb-lg-10">
                                    <!--begin::Title-->
                                    <h2 class="fw-bolder text-dark">
                                        {{ "Your Are Done!" | translate }}
                                    </h2>
                                    <!--end::Title-->
                                    <!--begin::Notice-->
                                    <div class="text-gray-400 fw-bold fs-6">
                                        {{ "To see all templates, please" | translate }}
                                        <a [routerLink]="['/auction_templates']" class="link-primary fw-bolder">
                                            {{ "Click here" | translate }}
                                        </a>.
                                    </div>
                                    <!--end::Notice-->
                                </div>
                                <!--end::Heading-->
                                <!--begin::Body-->
                                <div class="mb-0">
                                    <!--begin::Text-->
                                    <div class="fs-6 text-gray-600 mb-5">Writing headlines for blog posts is as much an
                                        art as it is a science and probably warrants its own post, but for all advise is
                                        with what works for your great &amp; amazing audience.</div>
                                    <!--end::Text-->
                                    <!--begin::Alert-->
                                    <!--begin::Notice-->
                                    <div
                                        class="notice d-flex bg-light-warning rounded border-warning border border-dashed p-6">
                                        <!--begin::Icon-->
                                        <!--begin::Svg Icon | path: icons/duotone/Code/Warning-1-circle.svg-->
                                        <span class="svg-icon svg-icon-2tx svg-icon-warning me-4">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                                                viewBox="0 0 24 24" version="1.1">
                                                <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                                                <rect fill="#000000" x="11" y="7" width="2" height="8" rx="1" />
                                                <rect fill="#000000" x="11" y="16" width="2" height="2" rx="1" />
                                            </svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                        <!--end::Icon-->
                                        <!--begin::Wrapper-->
                                        <div class="d-flex flex-stack flex-grow-1">
                                            <!--begin::Content-->
                                            <div class="fw-bold">
                                                <h4 class="text-gray-800 fw-bolder">We need your attention!</h4>
                                                <div class="fs-6 text-gray-600">By Clicking Submit your template will be created. To create new template, 
                                                    <a (click)="reload();" style="cursor: pointer;" class="fw-bolder">Please Click here.</a>
                                                </div>
                                            </div>
                                            <!--end::Content-->
                                        </div>
                                        <!--end::Wrapper-->
                                    </div>
                                    <!--end::Notice-->
                                    <!--end::Alert-->
                                </div>
                                <!--end::Body-->
                            </div>
                            <!--end::Wrapper-->
                        </div>
                        <!--end::Step 4-->
                        <!--begin::Actions-->
                        <div class="d-flex flex-stack pt-15">
                            <!--begin::Wrapper-->
                            <div class="mr-2">
                                <button type="button" class="btn btn-lg btn-light-primary me-3"
                                    data-kt-stepper-action="previous">
                                    <!--begin::Svg Icon | path: icons/duotone/Navigation/Left-2.svg-->
                                    <span class="svg-icon svg-icon-4 me-1">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                            viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <polygon points="0 0 24 0 24 24 0 24" />
                                                <rect fill="#000000" opacity="0.3"
                                                    transform="translate(15.000000, 12.000000) scale(-1, 1) rotate(-90.000000) translate(-15.000000, -12.000000)"
                                                    x="14" y="7" width="2" height="10" rx="1" />
                                                <path
                                                    d="M3.7071045,15.7071045 C3.3165802,16.0976288 2.68341522,16.0976288 2.29289093,15.7071045 C1.90236664,15.3165802 1.90236664,14.6834152 2.29289093,14.2928909 L8.29289093,8.29289093 C8.67146987,7.914312 9.28105631,7.90106637 9.67572234,8.26284357 L15.6757223,13.7628436 C16.0828413,14.136036 16.1103443,14.7686034 15.7371519,15.1757223 C15.3639594,15.5828413 14.7313921,15.6103443 14.3242731,15.2371519 L9.03007346,10.3841355 L3.7071045,15.7071045 Z"
                                                    fill="#000000" fill-rule="nonzero"
                                                    transform="translate(9.000001, 11.999997) scale(-1, -1) rotate(90.000000) translate(-9.000001, -11.999997)" />
                                            </g>
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->Back
                                </button>
                            </div>
                            <!--end::Wrapper-->
                            <!--begin::Wrapper-->
                            <div>
                                <button type="button" class="btn btn-lg btn-primary me-3"
                                    data-kt-stepper-action="submit" (click)="OnSubmit()">
                                    <span class="indicator-label">Submit
                                        <!--begin::Svg Icon | path: icons/duotone/Navigation/Right-2.svg-->
                                        <span class="svg-icon svg-icon-3 ms-2 me-0">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                                viewBox="0 0 24 24" version="1.1">
                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <polygon points="0 0 24 0 24 24 0 24" />
                                                    <rect fill="#000000" opacity="0.5"
                                                        transform="translate(8.500000, 12.000000) rotate(-90.000000) translate(-8.500000, -12.000000)"
                                                        x="7.5" y="7.5" width="2" height="9" rx="1" />
                                                    <path
                                                        d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z"
                                                        fill="#000000" fill-rule="nonzero"
                                                        transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                                                </g>
                                            </svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                    </span>
                                    <span class="indicator-progress">Please wait...
                                        <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                </button>
                                <button type="button" class="btn btn-lg btn-primary"
                                    data-kt-stepper-action="next">Continue
                                    <!--begin::Svg Icon | path: icons/duotone/Navigation/Right-2.svg-->
                                    <span class="svg-icon svg-icon-4 ms-1 me-0">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                            viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <polygon points="0 0 24 0 24 24 0 24" />
                                                <rect fill="#000000" opacity="0.5"
                                                    transform="translate(8.500000, 12.000000) rotate(-90.000000) translate(-8.500000, -12.000000)"
                                                    x="7.5" y="7.5" width="2" height="9" rx="1" />
                                                <path
                                                    d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z"
                                                    fill="#000000" fill-rule="nonzero"
                                                    transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                                            </g>
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                </button>
                            </div>
                            <!--end::Wrapper-->
                        </div>
                        <!--end::Actions-->
                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Stepper-->
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Card-->
    </div>
    <!--end::Container-->
</div>
<!--end::Post-->