<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container">
        <!--begin::Invoice 2 main-->
        <div class="card">
            <div class="card-body p-lg-20">
                <!--begin::Layout-->
                <div class="d-flex flex-column flex-xl-row">
                    <!--begin::Content-->
                    <div class="flex-lg-row-fluid me-xl-18 mb-10 mb-xl-0">
                        <!--begin::Invoice 2 content-->
                        <div class="mt-n1">
                            <!--begin::Wrapper-->
                            <div class="m-0">
                                <!--begin::Label-->
                                <div class="fw-bold fs-7 text-gray-600 mb-1">{{'Payment Id' | translate}}</div>
                                <div class="fw-bolder fs-3 text-gray-800 mb-8">{{ payment?.id | uppercase}}</div>
                                <!--end::Label-->
                                <!--begin::Row-->
                                <div class="row g-5 mb-11">
                                    <!--end::Col-->
                                    <div class="col-sm-6">
                                        <!--end::Label-->
                                        <div class="fw-bold fs-7 text-gray-600 mb-1">{{'Create Date' | translate}}:</div>
                                        <!--end::Label-->
                                        <!--end::Col-->
                                        <div class="fw-bolder fs-6 text-gray-800">{{ payment?.create_date | date }}
                                        </div>
                                        <!--end::Col-->
                                    </div>
                                    <!--end::Col-->
                                    <!--end::Col-->
                                    <div class="col-sm-6">
                                        <!--end::Label-->
                                        <div class="fw-bold fs-7 text-gray-600 mb-1">{{'Modified Date' | translate}}:</div>
                                        <!--end::Label-->
                                        <!--end::Info-->
                                        <div class="fw-bolder fs-6 text-gray-800 d-flex align-items-center flex-wrap">
                                            <span class="pe-2">{{ payment?.last_modified | date }}</span>
                                        </div>
                                        <!--end::Info-->
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Row-->
                                <!--begin::Row-->
                                <div class="row g-5 mb-11">
                                    <!--end::Col-->
                                    <div class="col-sm-12">
                                        <!--end::Label-->
                                        <div class="fw-bold fs-7 text-gray-600 mb-1">{{'Reference ID' | translate}}:</div>
                                        <!--end::Label-->
                                        <!--end::Col-->
                                        <div class="fw-bolder fs-6 text-gray-800">{{ payment?.reference_id | uppercase
                                            }}
                                        </div>
                                        <!--end::Col-->
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Row-->
                                <!--begin::Row-->
                                <div class="row g-5 mb-11">
                                    <!--end::Col-->
                                    <div class="col-sm-12">
                                        <!--end::Label-->
                                        <div class="fw-bold fs-7 text-gray-600 mb-1">{{'Requester' | translate}}:</div>
                                        <!--end::Label-->
                                        <!--end::Col-->
                                        <div class="fw-bolder fs-6 text-gray-800"><a [routerLink]="['/user-details']"
                                                [queryParams]="{ id: payment?.requester.id }">{{ payment?.requester.phone }}</a>
                                        </div>
                                        <!--end::Col-->
                                        <!--end::Text-->
                                        <div class="fw-bolder fs-6 text-gray-800">{{ payment?.requester?.user_details?.name_ar }}</div>
                                        <div class="fw-bolder fs-6 text-gray-800">{{ payment?.requester?.user_details?.name_en }}</div>
                                        <!--end::Text-->
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Row-->
                                <!--begin::Row-->
                                <div class="row g-5 mb-12">
                                    <!--end::Col-->
                                    <div class="col-sm-6">
                                        <!--end::Label-->
                                        <div class="fw-bold fs-7 text-gray-600 mb-1">{{'Payment Gateway' | translate}}:</div>
                                        <!--end::Label-->
                                        <!--end::Text-->
                                        <div class="fw-bolder fs-6 text-gray-800">{{ payment?.payment_gateway }}</div>
                                        <!--end::Text-->
                                        <!--end::Description-->
                                        <div class="fw-bold fs-7 text-gray-600" *ngIf="payment?.gateway_status">{{'Gateway Status' | translate}}:
                                            <b><span class="badge badge-light-info me-2">{{
                                                    payment?.gateway_status
                                                    }}</span></b>
                                        </div>
                                        <div class="fw-bold fs-7 text-gray-600" *ngIf="payment?.gateway_transaction_id">
                                            {{'Gateway Id' | translate}}:
                                            <b>{{ payment?.gateway_transaction_id }}</b>
                                        </div>
                                        <!--end::Description-->
                                    </div>
                                    <!--end::Col-->
                                    <!--end::Col-->
                                    <div class="col-sm-6">
                                        <!--end::Label-->
                                        <div class="fw-bold fs-7 text-gray-600 mb-1">{{'Payment Type' | translate}}:</div>
                                        <!--end::Label-->
                                        <!--end::Text-->
                                        <div class="fw-bolder fs-6 text-gray-800">{{ payment?.payment_type }}</div>
                                        <!--end::Text-->
                                        <!--end::Description-->
                                        <div class="fw-bold fs-7 text-gray-600">{{'Payment Status' | translate}}:
                                            <b><span class="badge badge-light-info me-2">{{
                                                    payment?.payment_status | titlecase
                                                    }}</span></b>
                                        </div>
                                        <!--end::Description-->
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Row-->
                                <!--begin::Row-->
                                <div class="row g-5 mb-11">
                                    <!--end::Col-->
                                    <div class="col-sm-6" *ngIf="payment?.note">
                                        <!--end::Label-->
                                        <div class="fw-bold fs-7 text-gray-600 mb-1">{{'Note' | translate}}:</div>
                                        <!--end::Label-->
                                        <!--end::Col-->
                                        <div class="fw-bolder fs-6 text-gray-800">{{ payment?.note }}</div>
                                        <!--end::Col-->
                                    </div>
                                    <!--end::Col-->
                                    <!--end::Col-->
                                    <div class="col-sm-6">
                                        <!--end::Label-->
                                        <div class="fw-bold fs-7 text-gray-600 mb-1">{{'Retries' | translate}}:</div>
                                        <!--end::Label-->
                                        <!--end::Info-->
                                        <div class="fw-bolder fs-6 text-gray-800 d-flex align-items-center flex-wrap">
                                            <span class="pe-2">{{ payment?.retry }}</span>
                                        </div>
                                        <!--end::Info-->
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Row-->
                                <!--begin::Row-->
                                <div class="row g-5 mb-11">
                                    <!--end::Col-->
                                    <div class="col-sm-6" *ngIf="payment?.custom_properties">
                                        <!--end::Label-->
                                        <div class="fw-bold fs-7 text-gray-600 mb-1">{{'Custom Properties' | translate}}:</div>
                                        <!--end::Label-->
                                        <!--end::Col-->
                                        <div class="fw-bolder fs-6 text-gray-800">{{ payment?.custom_properties }}</div>
                                        <!--end::Col-->
                                    </div>
                                    <!--end::Col-->
                                    <!--end::Col-->
                                    <div class="col-sm-6">
                                        <!--end::Label-->
                                        <div class="fw-bold fs-7 text-gray-600 mb-1">{{'Configuration Id' | translate}}:</div>
                                        <!--end::Label-->
                                        <!--end::Info-->
                                        <div class="fw-bolder fs-6 text-gray-800 d-flex align-items-center flex-wrap">
                                            <span class="pe-2">{{ payment?.config_id | uppercase }}</span>
                                        </div>
                                        <!--end::Info-->
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Row-->
                                <!--begin::Row-->
                                <div class="row g-5 mb-11">
                                    <div class="col" *ngIf="payment?.dump_response">
                                        <!--end::Label-->
                                        <div class="fw-bold fs-7 text-gray-600 mb-1">{{'Dump Response' | translate}}:</div>
                                        <!--end::Label-->
                                        <!--end::Info-->
                                        <div class="fw-bolder fs-4 text-gray-800 d-flex align-items-center flex-wrap  overflow-auto">
                                            <span class="pe-2">
                                                <pre>{{ payment?.dump_response | json }}</pre>
                                            </span>
                                        </div>
                                        <!--end::Info-->
                                    </div>
                                </div>
                            </div>
                            <!--end::Wrapper-->
                        </div>
                        <!--end::Invoice 2 content-->
                    </div>
                    <!--end::Content-->
                    <!--begin::Sidebar-->
                    <div class="m-0">
                        <!--begin::Invoice 2 sidebar-->
                        <div
                            class="d-print-none border border-dashed border-gray-300 card-rounded h-lg-100 min-w-md-350px p-9 bg-lighten">
                            <!--begin::Labels-->
                            <div class="mb-8">
                                <span class="badge badge-light-success me-2" *ngIf="payment?.active">{{'Active' | translate}}</span>
                                <span class="badge badge-light-warning" *ngIf="!payment?.active">{{'Not Active' | translate}}</span>
                            </div>
                            <!--end::Labels-->
                            <!--begin::Title-->
                            <h6 class="mb-8 fw-boldest text-gray-600 text-hover-primary">{{'PAYMENT OVERVIEW' | translate}}</h6>
                            <!--end::Title-->
                            <!--begin::Item-->
                            <div class="mb-3">
                                <div class="fw-bold text-gray-600 fs-7">{{'Amount' | translate}}</div>
                                <div class="fw-bolder fs-6 text-gray-800">{{ payment?.amount | currency:' OMR ' }}</div>
                            </div>
                            <div class="mb-3">
                                <div class="fw-bold text-gray-600 fs-7">{{'VAT' | translate}}</div>
                                <div class="fw-bolder fs-6 text-gray-800">{{ payment?.vat | currency:' OMR '}} </div>
                            </div>
                            <div class="mb-3">
                                <div class="fw-bold text-gray-600 fs-7">{{'Card Number' | translate}}</div>
                                <div class="fw-bolder fs-6 text-gray-800">{{ payment?.card_number }} </div>
                            </div>
                            <div class="mb-3">
                                <div class="fw-bold text-gray-600 fs-7">{{'Card Name' | translate}}</div>
                                <div class="fw-bolder fs-6 text-gray-800">{{ payment?.card_name }} </div>
                            </div>
                            <div class="mb-6">
                                <div class="fw-bold text-gray-600 fs-7">{{'Card Expiry' | translate}}</div>
                                <div class="fw-bolder fs-6 text-gray-800">{{ payment?.card_expiry_date | date }} </div>
                            </div>
                            <!--end::Item-->
                            <!--begin::Title-->
                            <h6 class="mb-8 fw-boldest text-gray-600 text-hover-primary">
                                {{ 'payway' | translate }}
                            </h6>
                            <!--end::Title-->
                            <!--begin::Item-->
                            <div class="mb-3">
                                <div class="fw-bold text-gray-600 fs-7">{{'TYPE' | translate}}</div>
                                <div class="fw-bolder fs-6 text-gray-800">{{ payment?.model_type }}</div>
                            </div>
                            <div class="mb-3">
                                <div class="fw-bold text-gray-600 fs-7">{{'Action' | translate}}</div>
                                <div class="fw-bolder fs-6 text-gray-800">{{ payment?.model_action }} </div>
                            </div>
                            <div class="mb-6">
                                <div class="fw-bold text-gray-600 fs-7">{{'ID' | translate}}</div>
                                <div class="fw-bolder fs-6 text-gray-800">{{ payment?.model_id | uppercase }} </div>
                            </div>
                            <!--begin::Title-->
                            <h6 class="mb-8 fw-boldest text-gray-600 text-hover-primary"
                                *ngIf="payment?.response_code || payment?.response_decision">{{'PAYMENT RESPONSE' | translate}}</h6>
                            <!--end::Title-->
                            <!--begin::Item-->
                            <div class="mb-3" *ngIf="payment?.response_code">
                                <div class="fw-bold text-gray-600 fs-7">{{'Response Code' | translate}}:</div>
                                <div class="fw-bolder text-gray-800 fs-6">{{ payment?.response_code }}</div>
                            </div>
                            <!--end::Item-->
                            <!--begin::Item-->
                            <div class="mb-3" *ngIf="payment?.response_decision">
                                <div class="fw-bold text-gray-600 fs-7">{{'Response Decision' | translate}}:</div>
                                <div class="fw-bolder text-gray-800 fs-6">{{ payment?.response_decision }}</div>
                            </div>
                            <!--end::Item-->
                            <div class="mb-3"
                                *ngIf="payment?.payment_status=='pending' && payment?.payment_type=='Online'">
                                <div class="fw-bolder text-gray-800 fs-6">
                                    <span class="badge badge-light-info me-2">{{'This Payment is Pending' | translate}} </span>
                                    <button type="button" class="btn btn-danger"
                                        (click)="retry(payment?.reference_id)">{{'Retry' | translate}}</button>
                                </div>
                            </div>
                        </div>
                        <!--end::Invoice 2 sidebar-->
                    </div>
                    <!--end::Sidebar-->
                </div>
                <!--end::Layout-->
            </div>
            <!--end::Body-->
        </div>
        <!--end::Invoice 2 main-->
    </div>
    <!--end::Container-->
</div>

<div *ngIf="errorMessage" class="swal2-container swal2-center swal2-backdrop-show" style="overflow-y: auto;">
    <div aria-labelledby="swal2-title" aria-describedby="swal2-content"
        class="swal2-popup swal2-modal swal2-icon-error swal2-show" tabindex="-1" role="dialog" aria-live="assertive"
        aria-modal="true" style="display: flex;">
        <div class="swal2-header">
            <div class="swal2-icon swal2-error swal2-icon-show" style="display: flex;"><span class="swal2-x-mark">
                    <span class="swal2-x-mark-line-left"></span>
                    <span class="swal2-x-mark-line-right"></span>
                </span>
            </div><img class="swal2-image" style="display: none;">
            <h2 class="swal2-title" id="swal2-title" style="display: none;"></h2><button type="button"
                class="swal2-close" aria-label="Close this dialog" style="display: none;">×</button>
        </div>
        <div class="swal2-content">
            <div id="swal2-content" class="swal2-html-container" style="display: block;">{{'Sorry, looks like there are some errors detected, please try again.' | translate}}</div>
        </div>
        <div class="swal2-actions">
            <div class="swal2-loader"></div>
            <button type="button" class="swal2-confirm btn btn-light" style="display: inline-block;"
                (click)="errorMessage=false">{{'Ok, got it!' | translate}}</button>
        </div>
    </div>
</div>
<div *ngIf="successMessage" class="swal2-container swal2-center swal2-backdrop-show" style="overflow-y: auto;">
    <div aria-labelledby="swal2-title" aria-describedby="swal2-content"
        class="swal2-popup swal2-modal swal2-icon-success swal2-show" tabindex="-1" role="dialog" aria-live="assertive"
        aria-modal="true" style="display: flex;">
        <div class="swal2-header">
            <div class="swal2-icon swal2-success swal2-icon-show" style="display: flex;">
                <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);">
                </div>
                <span class="swal2-success-line-tip"></span> <span class="swal2-success-line-long"></span>
                <div class="swal2-success-ring"></div>
                <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);">
                </div>
            </div><img class="swal2-image" style="display: none;">
            <h2 class="swal2-title" id="swal2-title" style="display: none;"></h2><button type="button"
                class="swal2-close" aria-label="Close this dialog" style="display: none;">×</button>
        </div>
        <div class="swal2-content">
            <div id="swal2-content" class="swal2-html-container" style="display: block;">{{'Request has been successfully submitted!' | translate}}
                <h4>{{ response }}</h4>
            </div>
        </div>
        <div class="swal2-actions">
            <div class="swal2-loader"></div><button type="button" class="swal2-confirm btn btn-primary"
                (click)="successMessage=false" style="display: inline-block;">{{'Ok' | translate}}</button>
        </div>
    </div>
</div>