<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container">
        <!--begin::Invoice 2 main-->
        <div class="card">
            <div class="card-body p-lg-20">
                <!--begin::Layout-->
                <div class="d-flex flex-column flex-xl-row">
                    <!--begin::Content-->
                    <div class="flex-lg-row-fluid me-xl-18 mb-10 mb-xl-0">
                        <!--begin::Invoice 2 content-->
                        <div class="mt-n1">
                            <!--begin::Wrapper-->
                            <div class="m-0">
                                <!--begin::Label-->
                                <div class="fw-bold fs-7 text-gray-600 mb-1">Payment Id</div>
                                <div class="fw-bolder fs-3 text-gray-800 mb-8">{{ payment?.id | uppercase}}</div>
                                <!--end::Label-->
                                <!--begin::Row-->
                                <div class="row g-5 mb-11">
                                    <!--end::Col-->
                                    <div class="col-sm-6">
                                        <!--end::Label-->
                                        <div class="fw-bold fs-7 text-gray-600 mb-1">Create Date:</div>
                                        <!--end::Label-->
                                        <!--end::Col-->
                                        <div class="fw-bolder fs-6 text-gray-800">{{ payment?.create_date | date }}
                                        </div>
                                        <!--end::Col-->
                                    </div>
                                    <!--end::Col-->
                                    <!--end::Col-->
                                    <div class="col-sm-6">
                                        <!--end::Label-->
                                        <div class="fw-bold fs-7 text-gray-600 mb-1">Modified Date:</div>
                                        <!--end::Label-->
                                        <!--end::Info-->
                                        <div class="fw-bolder fs-6 text-gray-800 d-flex align-items-center flex-wrap">
                                            <span class="pe-2">{{ payment?.last_modified | date }}</span>
                                        </div>
                                        <!--end::Info-->
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Row-->
                                <!--begin::Row-->
                                <div class="row g-5 mb-11">
                                    <!--end::Col-->
                                    <div class="col-sm-12">
                                        <!--end::Label-->
                                        <div class="fw-bold fs-7 text-gray-600 mb-1">Reference ID:</div>
                                        <!--end::Label-->
                                        <!--end::Col-->
                                        <div class="fw-bolder fs-6 text-gray-800">{{ payment?.reference_id | uppercase
                                            }}
                                        </div>
                                        <!--end::Col-->
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Row-->
                                <!--begin::Row-->
                                <div class="row g-5 mb-11">
                                    <!--end::Col-->
                                    <div class="col-sm-12">
                                        <!--end::Label-->
                                        <div class="fw-bold fs-7 text-gray-600 mb-1">Requester:</div>
                                        <!--end::Label-->
                                        <!--end::Col-->
                                        <div class="fw-bolder fs-6 text-gray-800"><a [routerLink]="['/users']"
                                            [queryParams]="{ id: payment?.requester }">{{ payment?.requester | uppercase }}</a>
                                        </div>
                                        <!--end::Col-->
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Row-->
                                <!--begin::Row-->
                                <div class="row g-5 mb-12">
                                    <!--end::Col-->
                                    <div class="col-sm-6">
                                        <!--end::Label-->
                                        <div class="fw-bold fs-7 text-gray-600 mb-1">Payment Gateway:</div>
                                        <!--end::Label-->
                                        <!--end::Text-->
                                        <div class="fw-bolder fs-6 text-gray-800">{{ payment?.payment_gateway }}</div>
                                        <!--end::Text-->
                                        <!--end::Description-->
                                        <div class="fw-bold fs-7 text-gray-600">Gateway Status:
                                                <b><span class="badge badge-light-info me-2">{{
                                                    payment?.gateway_status
                                                    }}</span></b>
                                        </div>
                                        <div class="fw-bold fs-7 text-gray-600">Gateway Id:
                                            <b>{{ payment?.gateway_transaction_id }}</b>
                                        </div>
                                        <!--end::Description-->
                                    </div>
                                    <!--end::Col-->
                                    <!--end::Col-->
                                    <div class="col-sm-6">
                                        <!--end::Label-->
                                        <div class="fw-bold fs-7 text-gray-600 mb-1">Payment Type:</div>
                                        <!--end::Label-->
                                        <!--end::Text-->
                                        <div class="fw-bolder fs-6 text-gray-800">{{ payment?.payment_type }}</div>
                                        <!--end::Text-->
                                        <!--end::Description-->
                                        <div class="fw-bold fs-7 text-gray-600">Payment Status:
                                            <b><span class="badge badge-light-info me-2">{{
                                                    payment?.payment_status | titlecase
                                                    }}</span></b>
                                        </div>
                                        <!--end::Description-->
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Row-->
                                <!--begin::Row-->
                                <div class="row g-5 mb-11">
                                    <!--end::Col-->
                                    <div class="col-sm-6" *ngIf="payment?.note">
                                        <!--end::Label-->
                                        <div class="fw-bold fs-7 text-gray-600 mb-1">Note:</div>
                                        <!--end::Label-->
                                        <!--end::Col-->
                                        <div class="fw-bolder fs-6 text-gray-800">{{ payment?.note }}</div>
                                        <!--end::Col-->
                                    </div>
                                    <!--end::Col-->
                                    <!--end::Col-->
                                    <div class="col-sm-6">
                                        <!--end::Label-->
                                        <div class="fw-bold fs-7 text-gray-600 mb-1">Retries:</div>
                                        <!--end::Label-->
                                        <!--end::Info-->
                                        <div class="fw-bolder fs-6 text-gray-800 d-flex align-items-center flex-wrap">
                                            <span class="pe-2">{{ payment?.retry }}</span>
                                        </div>
                                        <!--end::Info-->
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Row-->
                                <!--begin::Row-->
                                <div class="row g-5 mb-11">
                                    <!--end::Col-->
                                    <div class="col-sm-6" *ngIf="payment?.custom_properties">
                                        <!--end::Label-->
                                        <div class="fw-bold fs-7 text-gray-600 mb-1">Custom Properties:</div>
                                        <!--end::Label-->
                                        <!--end::Col-->
                                        <div class="fw-bolder fs-6 text-gray-800">{{ payment?.custom_properties }}</div>
                                        <!--end::Col-->
                                    </div>
                                    <!--end::Col-->
                                    <!--end::Col-->
                                    <div class="col-sm-6">
                                        <!--end::Label-->
                                        <div class="fw-bold fs-7 text-gray-600 mb-1">Configuration Id:</div>
                                        <!--end::Label-->
                                        <!--end::Info-->
                                        <div class="fw-bolder fs-6 text-gray-800 d-flex align-items-center flex-wrap">
                                            <span class="pe-2">{{ payment?.config_id | uppercase }}</span>
                                        </div>
                                        <!--end::Info-->
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Row-->
                            </div>
                            <!--end::Wrapper-->
                        </div>
                        <!--end::Invoice 2 content-->
                    </div>
                    <!--end::Content-->
                    <!--begin::Sidebar-->
                    <div class="m-0">
                        <!--begin::Invoice 2 sidebar-->
                        <div
                            class="d-print-none border border-dashed border-gray-300 card-rounded h-lg-100 min-w-md-350px p-9 bg-lighten">
                            <!--begin::Labels-->
                            <div class="mb-8">
                                <span class="badge badge-light-success me-2" *ngIf="payment?.active">Active</span>
                                <span class="badge badge-light-warning" *ngIf="!payment?.active">Not Active</span>
                            </div>
                            <!--end::Labels-->
                            <!--begin::Title-->
                            <h6 class="mb-8 fw-boldest text-gray-600 text-hover-primary">PAYMENT OVERVIEW</h6>
                            <!--end::Title-->
                            <!--begin::Item-->
                            <div class="mb-3">
                                <div class="fw-bold text-gray-600 fs-7">Amount</div>
                                <div class="fw-bolder fs-6 text-gray-800">{{ payment?.amount | currency:' OMR ' }}</div>
                            </div>
                            <div class="mb-3">
                                <div class="fw-bold text-gray-600 fs-7">VAT</div>
                                <div class="fw-bolder fs-6 text-gray-800">{{ payment?.vat | currency:' OMR '}} </div>
                            </div>
                            <div class="mb-3">
                                <div class="fw-bold text-gray-600 fs-7">Card Number</div>
                                <div class="fw-bolder fs-6 text-gray-800">{{ payment?.card_number }} </div>
                            </div>
                            <div class="mb-3">
                                <div class="fw-bold text-gray-600 fs-7">Card Name</div>
                                <div class="fw-bolder fs-6 text-gray-800">{{ payment?.card_name }} </div>
                            </div>
                            <div class="mb-6">
                                <div class="fw-bold text-gray-600 fs-7">Card Expiry</div>
                                <div class="fw-bolder fs-6 text-gray-800">{{ payment?.card_expiry_date | date }} </div>
                            </div>
                            <!--end::Item-->
                            <!--begin::Title-->
                            <h6 class="mb-8 fw-boldest text-gray-600 text-hover-primary">PAYMENT MODEL</h6>
                            <!--end::Title-->
                            <!--begin::Item-->
                            <div class="mb-3">
                                <div class="fw-bold text-gray-600 fs-7">TYPE</div>
                                <div class="fw-bolder fs-6 text-gray-800">{{ payment?.model_type }}</div>
                            </div>
                            <div class="mb-3">
                                <div class="fw-bold text-gray-600 fs-7">Action</div>
                                <div class="fw-bolder fs-6 text-gray-800">{{ payment?.model_action }} </div>
                            </div>
                            <div class="mb-6">
                                <div class="fw-bold text-gray-600 fs-7">ID</div>
                                <div class="fw-bolder fs-6 text-gray-800">{{ payment?.model_id | uppercase }} </div>
                            </div>
                            <!--begin::Title-->
                            <h6 class="mb-8 fw-boldest text-gray-600 text-hover-primary"
                                *ngIf="payment?.response_code || payment?.response_decision">PAYMENT RESPONSE</h6>
                            <!--end::Title-->
                            <!--begin::Item-->
                            <div class="mb-3" *ngIf="payment?.response_code">
                                <div class="fw-bold text-gray-600 fs-7">Response Code:</div>
                                <div class="fw-bolder text-gray-800 fs-6">{{ payment?.response_code }}</div>
                            </div>
                            <!--end::Item-->
                            <!--begin::Item-->
                            <div class="mb-3" *ngIf="payment?.response_decision">
                                <div class="fw-bold text-gray-600 fs-7">Response Decision:</div>
                                <div class="fw-bolder text-gray-800 fs-6">{{ payment?.response_decision }}</div>
                            </div>
                            <!--end::Item-->
                            <div class="mb-3" *ngIf="payment?.payment_status=='pending' && payment?.payment_type=='Online'">
                                <div class="fw-bolder text-gray-800 fs-6">
                                    <span class="badge badge-light-info me-2">This Payment is Pending </span>
                                    <button type="button" class="btn btn-danger" (click)="retry()">Retry</button>
                                </div>
                            </div>
                        </div>
                        <!--end::Invoice 2 sidebar-->
                    </div>
                    <!--end::Sidebar-->
                </div>
                <!--end::Layout-->
            </div>
            <!--end::Body-->
        </div>
        <!--end::Invoice 2 main-->
    </div>
    <!--end::Container-->
</div>

<div *ngIf="errorMessage" class="swal2-container swal2-center swal2-backdrop-show" style="overflow-y: auto;">
    <div aria-labelledby="swal2-title" aria-describedby="swal2-content"
        class="swal2-popup swal2-modal swal2-icon-error swal2-show" tabindex="-1" role="dialog"
        aria-live="assertive" aria-modal="true" style="display: flex;">
        <div class="swal2-header">
            <div class="swal2-icon swal2-error swal2-icon-show" style="display: flex;"><span
                    class="swal2-x-mark">
                    <span class="swal2-x-mark-line-left"></span>
                    <span class="swal2-x-mark-line-right"></span>
                </span>
            </div><img class="swal2-image" style="display: none;">
            <h2 class="swal2-title" id="swal2-title" style="display: none;"></h2><button type="button"
                class="swal2-close" aria-label="Close this dialog" style="display: none;">×</button>
        </div>
        <div class="swal2-content">
            <div id="swal2-content" class="swal2-html-container" style="display: block;">Sorry, looks like there
                are some errors detected, please try again.</div>
        </div>
        <div class="swal2-actions">
            <div class="swal2-loader"></div>
            <button type="button" class="swal2-confirm btn btn-light" style="display: inline-block;"
                (click)="errorMessage=false">Ok, got it!</button>
        </div>
    </div>
</div>
<div *ngIf="successMessage" class="swal2-container swal2-center swal2-backdrop-show" style="overflow-y: auto;">
    <div aria-labelledby="swal2-title" aria-describedby="swal2-content"
        class="swal2-popup swal2-modal swal2-icon-success swal2-show" tabindex="-1" role="dialog"
        aria-live="assertive" aria-modal="true" style="display: flex;">
        <div class="swal2-header">
            <div class="swal2-icon swal2-success swal2-icon-show" style="display: flex;">
                <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);">
                </div>
                <span class="swal2-success-line-tip"></span> <span class="swal2-success-line-long"></span>
                <div class="swal2-success-ring"></div>
                <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);">
                </div>
            </div><img class="swal2-image" style="display: none;">
            <h2 class="swal2-title" id="swal2-title" style="display: none;"></h2><button type="button"
                class="swal2-close" aria-label="Close this dialog" style="display: none;">×</button>
        </div>
        <div class="swal2-content">
            <div id="swal2-content" class="swal2-html-container" style="display: block;">Request has been
                successfully submitted!</div>
        </div>
        <div class="swal2-actions">
            <div class="swal2-loader"></div><button type="button" class="swal2-confirm btn btn-primary"
                (click)="successMessage=false" style="display: inline-block;">Ok</button>
        </div>
    </div>
</div>