<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container">
        <!--begin::Card-->
        <div class="card">
            <!--begin::Card header-->
            <div class="card-header border-0 pt-6">
                <!--begin::Card toolbar-->
                <div class="card-toolbar">
                    <!--begin::Toolbar-->
                    <div class="d-flex justify-content-end me-3" data-kt-item-table-toolbar="base">
                        <!--begin::Add item-->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#kt_modal_add_slider">
                            <!--begin::Svg Icon | path: icons/duotone/Navigation/Plus.svg-->
                            <span class="svg-icon svg-icon-2">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <rect fill="#000000" x="4" y="11" width="16" height="2" rx="1" />
                                    <rect fill="#000000" opacity="0.5"
                                        transform="translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000)"
                                        x="4" y="11" width="16" height="2" rx="1" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->{{'Add Image for Slider' | translate}}
                        </button>
                        <!--end::Add item-->
                    </div>
                    <!--end::Toolbar-->
                    <!--begin::Toolbar-->
                    <div class="d-flex justify-content-end me-3" data-kt-group-table-toolbar="base">
                        <!--begin::Add group-->
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                            data-bs-target="#kt_modal_view_types">
                            <!--begin::Svg Icon | path: icons/duotone/Navigation/Plus.svg-->
                            <span class="svg-icon svg-icon-3">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
                                        <rect fill="#000000" x="11" y="10" width="2" height="7" rx="1" />
                                        <rect fill="#000000" x="11" y="7" width="2" height="2" rx="1" />
                                    </g>
                                </svg><!--end::Svg Icon-->
                            </span>
                            <!--end::Svg Icon-->{{'View Topics' | translate}}
                        </button>
                        <!--end::Add group-->
                    </div>
                    <!--end::Toolbar-->
                    <!--begin::Toolbar-->
                    <div class="d-flex justify-content-end me-3" data-kt-group-table-toolbar="base">
                        <!--begin::Add group-->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#kt_modal_add_slider_type">
                            <!--begin::Svg Icon | path: icons/duotone/Navigation/Plus.svg-->
                            <span class="svg-icon svg-icon-2">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <rect fill="#000000" x="4" y="11" width="16" height="2" rx="1" />
                                    <rect fill="#000000" opacity="0.5"
                                        transform="translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000)"
                                        x="4" y="11" width="16" height="2" rx="1" />
                                </svg>
                            </span>
                            <!--end::Svg Icon-->{{'Add Slider Type' | translate}}
                        </button>
                        <!--end::Add group-->
                    </div>
                    <!--end::Toolbar-->
                    <!--begin::Group actions-->
                    <div class="d-flex justify-content-end align-items-center d-none"
                        data-kt-item-table-toolbar="selected">
                        <div class="fw-bolder me-5">
                            <span class="me-2" data-kt-item-table-select="selected_count"></span>Selected
                        </div>
                        <button type="button" class="btn btn-danger" data-kt-item-table-select="delete_selected">Delete
                            Selected</button>
                    </div>
                    <!--end::Group actions-->
                    <!--begin::Modal - Add task-->
                    <div class="modal fade" id="kt_modal_add_slider" tabindex="-1" aria-hidden="true">
                        <!--begin::Modal dialog-->
                        <div class="modal-dialog modal-dialog-centered mw-650px">
                            <!--begin::Modal content-->
                            <div class="modal-content">
                                <!--begin::Modal header-->
                                <div class="modal-header" id="kt_modal_add_item_header">
                                    <!--begin::Modal title-->
                                    <h2 class="fw-bolder">
                                        {{ "Add Image for Slider"| translate}}
                                    </h2>
                                    <h5 class="fw-bolder">Image size should not exceed 200px height.</h5>
                                    <!--end::Modal title-->
                                    <!--begin::Close-->
                                    <div class="btn btn-icon btn-sm btn-active-icon-primary" data-bs-dismiss="modal">
                                        <!--begin::Svg Icon | path: icons/duotone/Navigation/Close.svg-->
                                        <span class="svg-icon svg-icon-1">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                                viewBox="0 0 24 24" version="1.1">
                                                <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)"
                                                    fill="#000000">
                                                    <rect fill="#000000" x="0" y="7" width="16" height="2" rx="1" />
                                                    <rect fill="#000000" opacity="0.5"
                                                        transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)"
                                                        x="0" y="7" width="16" height="2" rx="1" />
                                                </g>
                                            </svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                    </div>
                                    <!--end::Close-->
                                </div>
                                <!--end::Modal header-->
                                <!--begin::Modal body-->
                                <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                                    <!--begin::Form-->
                                    <form id="kt_modal_add_item_form" class="form" action="#">
                                        <!--begin::Scroll-->
                                        <div class="d-flex flex-column scroll-y me-n7 pe-7"
                                            id="kt_modal_add_item_scroll" data-kt-scroll="true"
                                            data-kt-scroll-activate="{default: false, lg: true}"
                                            data-kt-scroll-max-height="auto"
                                            data-kt-scroll-dependencies="#kt_modal_add_item_header"
                                            data-kt-scroll-wrappers="#kt_modal_add_item_scroll"
                                            data-kt-scroll-offset="300px">
                                            <!--begin::Input group-->
                                            <div class="fv-row mb-7">
                                                <!--begin::Label-->
                                                <label class="required fw-bold fs-6 mb-2">{{ "Title"| translate}}</label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="text" name="title_en"
                                                    class="form-control form-control-solid mb-3 mb-lg-0"
                                                    placeholder="English" [(ngModel)]="slider.title_en" />
                                                <br>
                                                <input type="text" name="title_ar"
                                                    class="form-control form-control-solid mb-3 mb-lg-0"
                                                    placeholder="Arabic" [(ngModel)]="slider.title_ar" />
                                                <!--end::Input-->
                                            </div>
                                            <!--end::Input group-->
                                            <!--begin::Input group-->
                                            <div class="fv-row mb-7">
                                                <!--begin::Label-->
                                                <label class="required fw-bold fs-6 mb-2">{{ "URL"| translate}}</label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="text" name="url"
                                                    class="form-control form-control-solid mb-3 mb-lg-0"
                                                    placeholder="English" [(ngModel)]="slider.url" />
                                            </div>
                                            <!--end::Input group-->
                                            <!--begin::Input group-->
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="form-label required">{{ "PLATFROM"| translate}}</label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <select name="platform"
                                                    class="form-select form-select-lg form-select-solid"
                                                    [(ngModel)]="slider.platform">
                                                    <option value='ANDROID'>ANDROID</option>
                                                    <option value='IOS'>IOS</option>
                                                    <option value='WEB'>WEB</option>
                                                    <option value='ALL'>ALL</option>
                                                </select>
                                                <!--end::Input-->
                                            </div>
                                            <!--end::Input group-->
                                            <!--begin::Input group-->
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="form-label required">{{ "TYPE"| translate}}</label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <select name="slider_type"
                                                    class="form-select form-select-lg form-select-solid" [(ngModel)]="slider.slider_type">
                                                    <option *ngFor="let type of types" [ngValue]='type.name'>{{
                                                        type.name
                                                        }}</option>
                                                </select>
                                                <!--end::Input-->
                                            </div>
                                            <!--end::Input group-->
                                            <!--begin::Input group-->
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="form-label required">{{ "ORDER"| translate}}</label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="number" name="order"
                                                    class="form-control form-control-solid mb-3 mb-lg-0"
                                                    placeholder="0" [(ngModel)]="slider.order" />
                                                <!--end::Input-->
                                            </div>
                                            <!--end::Input group-->
                                            <!--begin::Input group-->
                                            <div class="fv-row mb-7">
                                                <!--begin::Label-->
                                                <label class="required fw-bold fs-6 mb-2">{{ "FROM DATE"| translate}}</label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="datetime-local" name="from_date"
                                                    class="form-control form-control-solid mb-3 mb-lg-0"
                                                    [(ngModel)]="slider.from_date" />
                                                <!--end::Input-->
                                            </div>
                                            <!--end::Input group-->
                                            <!--begin::Input group-->
                                            <div class="fv-row mb-7">
                                                <!--begin::Label-->
                                                <label class="required fw-bold fs-6 mb-2">{{ "To Date"| translate}}</label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="datetime-local" name="to_date"
                                                    class="form-control form-control-solid mb-3 mb-lg-0"
                                                    [(ngModel)]="slider.to_date" />
                                                <!--end::Input-->
                                            </div>
                                            <!--end::Input group-->
                                            <!--begin::Input group-->
                                            <div class="fv-row mb-7">
                                                <!--begin::Label-->
                                                <label class="required fw-bold fs-6 mb-2">{{ "CONTENT"| translate}}</label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <textarea cols="20" rows="5" name="content_en"
                                                    class="form-control form-control-solid mb-3 mb-lg-0"
                                                    placeholder="Content English"
                                                    [(ngModel)]="slider.content_en"></textarea>
                                                <br>
                                                <textarea cols="20" rows="5" name="content_ar"
                                                    class="form-control form-control-solid mb-3 mb-lg-0"
                                                    placeholder="Content Arabic"
                                                    [(ngModel)]="slider.content_ar"></textarea>
                                                <!--end::Input-->
                                            </div>
                                            <!--end::group-->
                                            <!--begin::Input group-->
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="form-label">{{ "Image"| translate}}</label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="file" class="form-control" id="image" accept="image/*" (change)="imageChange($event)" />
                                                <!--end::Input-->
                                            </div>
                                            <!--end::Input group-->
                                        </div>
                                        <!--end::Scroll-->
                                        <!--begin::Actions-->
                                        <div class="text-center pt-15">
                                            <button type="reset" class="btn btn-white me-3"
                                                data-bs-dismiss="modal">Discard</button>
                                            <button type="submit" class="btn btn-primary" (click)="OnSubmit()"
                                                data-kt-items-modal-action="submit">
                                                <span class="indicator-label">Submit</span>
                                                <span class="indicator-progress">Please wait...
                                                    <span
                                                        class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                            </button>
                                        </div>
                                        <!--end::Actions-->
                                    </form>
                                    <!--end::Form-->
                                </div>
                                <!--end::Modal body-->
                            </div>
                            <!--end::Modal content-->
                        </div>
                        <!--end::Modal dialog-->
                    </div>
                    <!--end::Modal - Add task-->
                    <!--begin::Modal - Add task-->
                    <div class="modal fade" id="kt_modal_edit_slider" tabindex="-1" aria-hidden="true">
                        <!--begin::Modal dialog-->
                        <div class="modal-dialog modal-dialog-centered mw-650px">
                            <!--begin::Modal content-->
                            <div class="modal-content">
                                <!--begin::Modal header-->
                                <div class="modal-header" id="kt_modal_add_item_header">
                                    <!--begin::Modal title-->
                                    <h2 class="fw-bolder">{{'Update Slider Image' | translate}}</h2>
                                    <!--end::Modal title-->
                                    <!--begin::Close-->
                                    <div class="btn btn-icon btn-sm btn-active-icon-primary" data-bs-dismiss="modal">
                                        <!--begin::Svg Icon | path: icons/duotone/Navigation/Close.svg-->
                                        <span class="svg-icon svg-icon-1">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                                viewBox="0 0 24 24" version="1.1">
                                                <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)"
                                                    fill="#000000">
                                                    <rect fill="#000000" x="0" y="7" width="16" height="2" rx="1" />
                                                    <rect fill="#000000" opacity="0.5"
                                                        transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)"
                                                        x="0" y="7" width="16" height="2" rx="1" />
                                                </g>
                                            </svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                    </div>
                                    <!--end::Close-->
                                </div>
                                <!--end::Modal header-->
                                <!--begin::Modal body-->
                                <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                                    <!--begin::Form-->
                                    <form id="kt_modal_add_item_form" class="form" action="#">
                                        <!--begin::Scroll-->
                                        <div class="d-flex flex-column scroll-y me-n7 pe-7"
                                            id="kt_modal_add_item_scroll" data-kt-scroll="true"
                                            data-kt-scroll-activate="{default: false, lg: true}"
                                            data-kt-scroll-max-height="auto"
                                            data-kt-scroll-dependencies="#kt_modal_add_item_header"
                                            data-kt-scroll-wrappers="#kt_modal_add_item_scroll"
                                            data-kt-scroll-offset="300px">
                                            <!--begin::Input group-->
                                            <div class="fv-row mb-7">
                                                <!--begin::Label-->
                                                <label class="required fw-bold fs-6 mb-2">{{ "Title"| translate}}</label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="text" name="title_en"
                                                    class="form-control form-control-solid mb-3 mb-lg-0"
                                                    placeholder="English" [(ngModel)]="edit_slider.title_en" />
                                                <br>
                                                <input type="text" name="title_ar"
                                                    class="form-control form-control-solid mb-3 mb-lg-0"
                                                    placeholder="Arabic" [(ngModel)]="edit_slider.title_ar" />
                                                <!--end::Input-->
                                            </div>
                                            <!--end::Input group-->
                                            <!--begin::Input group-->
                                            <div class="fv-row mb-7">
                                                <!--begin::Label-->
                                                <label class="required fw-bold fs-6 mb-2">{{ "URL"| translate}}</label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="text" name="url"
                                                    class="form-control form-control-solid mb-3 mb-lg-0"
                                                    placeholder="English" [(ngModel)]="edit_slider.url" />
                                            </div>
                                            <!--end::Input group-->
                                            <!--begin::Input group-->
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="form-label required">{{ "PLATFROM"| translate}}</label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <select name="platform"
                                                    class="form-select form-select-lg form-select-solid"
                                                    [(ngModel)]="edit_slider.platform">
                                                    <option value='ANDROID'>ANDROID</option>
                                                    <option value='IOS'>IOS</option>
                                                    <option value='WEB'>WEB</option>
                                                    <option value='ALL'>ALL</option>
                                                </select>
                                                <!--end::Input-->
                                            </div>
                                            <!--end::Input group-->
                                            <!--begin::Input group-->
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="form-label required">{{ "TYPE"| translate}}</label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <select name="slider_type"
                                                    class="form-select form-select-lg form-select-solid" [(ngModel)]="edit_slider.slider_type">
                                                    <option *ngFor="let type of types" [ngValue]='type.name'>{{
                                                        type.name
                                                        }}</option>
                                                </select>
                                                <!--end::Input-->
                                            </div>
                                            <!--end::Input group-->
                                            <!--begin::Input group-->
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="form-label required">{{ "ORDER"| translate}}</label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="number" name="order"
                                                    class="form-control form-control-solid mb-3 mb-lg-0"
                                                    placeholder="0" [(ngModel)]="edit_slider.order" />
                                                <!--end::Input-->
                                            </div>
                                            <!--end::Input group-->
                                            <!--begin::Input group-->
                                            <div class="fv-row mb-7">
                                                <!--begin::Label-->
                                                <label class="required fw-bold fs-6 mb-2">{{ "FROM DATE"| translate}}</label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="datetime-local" name="from_date"
                                                    class="form-control form-control-solid mb-3 mb-lg-0"
                                                    [(ngModel)]="edit_slider.from_date" />
                                                <!--end::Input-->
                                            </div>
                                            <!--end::Input group-->
                                            <!--begin::Input group-->
                                            <div class="fv-row mb-7">
                                                <!--begin::Label-->
                                                <label class="required fw-bold fs-6 mb-2">{{ "TO DATE"| translate}}</label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="datetime-local" name="to_date"
                                                    class="form-control form-control-solid mb-3 mb-lg-0"
                                                    [(ngModel)]="edit_slider.to_date" />
                                                <!--end::Input-->
                                            </div>
                                            <!--end::Input group-->
                                            <!--begin::Input group-->
                                            <div class="fv-row mb-7">
                                                <!--begin::Label-->
                                                <label class="required fw-bold fs-6 mb-2">{{ "CONTENT"| translate}}</label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <textarea cols="20" rows="5" name="content_en"
                                                    class="form-control form-control-solid mb-3 mb-lg-0"
                                                    placeholder="Content English"
                                                    [(ngModel)]="edit_slider.content_en"></textarea>
                                                <br>
                                                <textarea cols="20" rows="5" name="content_ar"
                                                    class="form-control form-control-solid mb-3 mb-lg-0"
                                                    placeholder="Content Arabic"
                                                    [(ngModel)]="edit_slider.content_ar"></textarea>
                                                <!--end::Input-->
                                            </div>
                                            <!--end::group-->
                                            <!--begin::Input group-->
                                            <div class="fv-row mb-10">
                                                <label class="form-label">{{ "IMAGE"| translate}}</label>
                                                <img src="{{edit_slider_image}}" style="width:60px;height:40px;" data-src="" alt="Slide">
                                                <input type="file" class="form-control" id="edit_image" accept="image/*" (change)="editImageChange($event)" />
                                            </div>
                                            <!--end::Input group-->
                                        </div>
                                        <!--end::Scroll-->
                                        <!--begin::Actions-->
                                        <div class="text-center pt-15">
                                            <button type="reset" class="btn btn-white me-3"
                                                data-bs-dismiss="modal">{{'Discard' | translate}}</button>
                                            <button type="submit" class="btn btn-primary" (click)="OnUpdate(edit_slider_id)"
                                                data-kt-items-modal-action="submit">
                                                <span class="indicator-label">{{'Submit'| translate}}</span>
                                                <span class="indicator-progress">Please wait...
                                                    <span
                                                        class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                            </button>
                                        </div>
                                        <!--end::Actions-->
                                    </form>
                                    <!--end::Form-->
                                </div>
                                <!--end::Modal body-->
                            </div>
                            <!--end::Modal content-->
                        </div>
                        <!--end::Modal dialog-->
                    </div>
                    <!--end::Modal - Add task-->
                     <!--begin::Modal - Add task-->
                     <div class="modal fade" id="kt_modal_add_slider_type" tabindex="-1" aria-hidden="true">
                        <!--begin::Modal dialog-->
                        <div class="modal-dialog modal-dialog-centered mw-650px">
                            <!--begin::Modal content-->
                            <div class="modal-content">
                                <!--begin::Modal header-->
                                <div class="modal-header" id="kt_modal_add_slider_type_header">
                                    <!--begin::Modal title-->
                                    <h2 class="fw-bolder">
                                        {{ "Add Slider Type"| translate}}
                                    </h2>
                                    <!--end::Modal title-->
                                    <!--begin::Close-->
                                    <div class="btn btn-icon btn-sm btn-active-icon-primary" data-bs-dismiss="modal">
                                        <!--begin::Svg Icon | path: icons/duotone/Navigation/Close.svg-->
                                        <span class="svg-icon svg-icon-1">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                                viewBox="0 0 24 24" version="1.1">
                                                <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)"
                                                    fill="#000000">
                                                    <rect fill="#000000" x="0" y="7" width="16" height="2" rx="1" />
                                                    <rect fill="#000000" opacity="0.5"
                                                        transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)"
                                                        x="0" y="7" width="16" height="2" rx="1" />
                                                </g>
                                            </svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                    </div>
                                    <!--end::Close-->
                                </div>
                                <!--end::Modal header-->
                                <!--begin::Modal body-->
                                <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                                    <!--begin::Form-->
                                    <form id="kt_modal_add_slider_type_form" class="form" action="#">
                                        <!--begin::Scroll-->
                                        <div class="d-flex flex-column scroll-y me-n7 pe-7"
                                            id="kt_modal_add_slider_type_scroll" data-kt-scroll="true"
                                            data-kt-scroll-activate="{default: false, lg: true}"
                                            data-kt-scroll-max-height="auto"
                                            data-kt-scroll-dependencies="#kt_modal_add_slider_type_header"
                                            data-kt-scroll-wrappers="#kt_modal_add_slider_type_scroll"
                                            data-kt-scroll-offset="300px">
                                            <!--begin::Input group-->
                                            <div class="fv-row mb-7">
                                                <!--begin::Label-->
                                                <label class="required fw-bold fs-6 mb-2">{{ "Name"| translate}}</label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="text" name="name"
                                                    class="form-control form-control-solid mb-3 mb-lg-0"
                                                    placeholder="Name" [(ngModel)]="type.name" />
                                                <!--end::Input-->
                                            </div>
                                            <!--end::Input group-->
                                        </div>
                                        <!--end::Scroll-->
                                        <!--begin::Actions-->
                                        <div class="text-center pt-15">
                                            <button type="reset" class="btn btn-white me-3"
                                                data-bs-dismiss="modal">{{'Discard' | translate}}</button>
                                            <button type="submit" class="btn btn-primary" (click)="AddSliderType()"
                                                data-kt-groups-modal-action="submit">
                                                <span class="indicator-label">{{'Submit' | translate}}</span>
                                                <span class="indicator-progress">Please wait...
                                                    <span
                                                        class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                            </button>
                                        </div>
                                        <!--end::Actions-->
                                    </form>
                                    <!--end::Form-->
                                </div>
                                <!--end::Modal body-->
                            </div>
                            <!--end::Modal content-->
                        </div>
                        <!--end::Modal dialog-->
                    </div>
                    <!--end::Modal - Add task-->
                     <!--begin::Modal - Add task-->
                     <div class="modal fade" id="kt_modal_view_types" tabindex="-1" aria-hidden="true">
                        <!--begin::Modal dialog-->
                        <div class="modal-dialog modal-dialog-centered mw-650px">
                            <!--begin::Modal content-->
                            <div class="modal-content">
                                <!--begin::Modal header-->
                                <div class="modal-header" id="kt_modal_view_topics_header">
                                    <!--begin::Modal title-->
                                    <h2 class="fw-bolder">
                                        {{ "Slider Types"| translate}}
                                    </h2>
                                    <!--end::Modal title-->
                                    <!--begin::Close-->
                                    <div class="btn btn-icon btn-sm btn-active-icon-primary" data-bs-dismiss="modal">
                                        <!--begin::Svg Icon | path: icons/duotone/Navigation/Close.svg-->
                                        <span class="svg-icon svg-icon-1">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                                viewBox="0 0 24 24" version="1.1">
                                                <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)"
                                                    fill="#000000">
                                                    <rect fill="#000000" x="0" y="7" width="16" height="2" rx="1" />
                                                    <rect fill="#000000" opacity="0.5"
                                                        transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)"
                                                        x="0" y="7" width="16" height="2" rx="1" />
                                                </g>
                                            </svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                    </div>
                                    <!--end::Close-->
                                </div>
                                <!--end::Modal header-->
                                <!--begin::Modal body-->
                                <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                                    <!--begin::Form-->
                                    <form id="kt_modal_view_types_form" class="form" action="#">
                                        <!--begin::Scroll-->
                                        <div class="d-flex flex-column scroll-y me-n7 pe-7"
                                            id="kt_modal_view_types_scroll" data-kt-scroll="true"
                                            data-kt-scroll-activate="{default: false, lg: true}"
                                            data-kt-scroll-max-height="auto"
                                            data-kt-scroll-dependencies="#kt_modal_view_types_header"
                                            data-kt-scroll-wrappers="#kt_modal_view_types_scroll"
                                            data-kt-scroll-offset="300px">
                                            <div class="fv-row mb-7">
                                                <!--begin::Label-->
                                                <table class="table align-middle table-row-dashed fs-6 gy-5">
                                                    <thead>
                                                        <!--begin::Table row-->
                                                        <tr
                                                            class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                                            <th class="min-w-125px">{{ "Name"| translate}}</th>
                                                            <th class="text-end min-w-100px">Actions</th>
                                                        </tr>
                                                        <!--end::Table row-->
                                                    </thead>
                                                    <tbody class="text-gray-600 fw-bold">
                                                        <tr *ngFor="let type of types">
                                                            <td>{{type.name}}</td>
                                                            <td class="text-end min-w-100px">
                                                                <a (click)="removeType(type.name)"
                                                                    class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
                                                                    <!--begin::Svg Icon | path: icons/duotone/General/Trash.svg-->
                                                                    <span class="svg-icon svg-icon-3">
                                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                            width="24px" height="24px"
                                                                            viewBox="0 0 24 24" version="1.1">
                                                                            <g stroke="none" stroke-width="1"
                                                                                fill="none" fill-rule="evenodd">
                                                                                <rect x="0" y="0" width="24"
                                                                                    height="24"></rect>
                                                                                <path
                                                                                    d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z"
                                                                                    fill="#000000" fill-rule="nonzero">
                                                                                </path>
                                                                                <path
                                                                                    d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z"
                                                                                    fill="#000000" opacity="0.3"></path>
                                                                            </g>
                                                                        </svg>
                                                                    </span>
                                                                    <!--end::Svg Icon-->
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!--end::Input-->
                                            </div>
                                        </div>
                                        <!--end::Scroll-->
                                        <!--begin::Actions-->
                                        <div class="text-center pt-15">
                                            <button type="reset" class="btn btn-white me-3"
                                                data-bs-dismiss="modal">{{'Discard' | translate}}</button>
                                        </div>
                                        <!--end::Actions-->
                                    </form>
                                    <!--end::Form-->
                                </div>
                                <!--end::Modal body-->
                            </div>
                            <!--end::Modal content-->
                        </div>
                        <!--end::Modal dialog-->
                    </div>
                    <!--end::Modal - Add task-->
                </div>
                <!--end::Card toolbar-->
            </div>
            <!--end::Card header-->
            <!--begin::Card body-->
            <div class="card-body pt-0">
                <!--begin::Table-->
                <table mat-table  matSort (matSortChange)="sortData($event)" class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_items">
                    <!--begin::Table head-->
                    <thead>
                        <!--begin::Table row-->
                        <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                            <th class="w-10px pe-2">
                                <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                                    <input class="form-check-input" type="checkbox" data-kt-check="true"
                                        data-kt-check-target="#kt_table_items .form-check-input" value="1" />
                                </div>
                            </th>
                            <th mat-sort-header="platform" class="min-w-100px">{{ "PLATFROM"| translate}}</th>
                            <th mat-sort-header="from_date" class="min-w-100px">{{ "FROM DATE"| translate}}</th>
                            <th mat-sort-header="to_date" class="min-w-100px">{{ "TO DATE"| translate}}</th>
                            <th mat-sort-header="slider_type" class="min-w-100px">{{ "TYPE"| translate}}</th>
                            <th mat-sort-header="enable" class="min-w-80px">{{ "ENABLED?"| translate}}</th>
                            <th mat-sort-header="order" class="min-w-80px">{{ "ORDER"| translate}}</th>
                            <th class="min-w-100px">{{'Image' | translate}}</th>
                            <th class="text-end min-w-100px">{{ "Actions"| translate}}</th>
                        </tr>
                        <!--end::Table row-->
                    </thead>
                    <!--end::Table head-->
                    <!--begin::Table body-->
                    <tbody class="text-gray-600 fw-bold">
                        <!--begin::Table row-->
                        <tr *ngFor="let item of sliders ">
                            <!--begin::Checkbox-->
                            <td>
                                <div class="form-check form-check-sm form-check-custom form-check-solid">
                                    <input class="form-check-input" type="checkbox" value="1" />
                                </div>
                            </td>
                            <!--end::Checkbox-->
                            <!--begin::item=-->
                            <td>
                                <div class="badge badge-light fw-bolder">{{ item.platform | uppercase }}</div>
                            </td>
                            <!--end::item=-->
                            <!--begin::start_date-->
                            <td>{{ item.from_date | date: "dd MMM yyyy" }}</td>
                            <!--end::start_date-->
                            <!--begin::end_date-->
                            <td>{{ item.to_date | date: "dd MMM yyyy" }}</td>
                            <!--end::end_date-->
                            <!--begin::end_date-->
                            <td>{{ item.slider_type }}</td>
                            <!--end::end_date-->
                            <!--begin::item_status=-->
                            <td>
                                <div class="badge badge-light-success fw-bolder">
                                    {{ item.enable }}
                                </div>
                            </td>
                            <!--end::item_status=-->
                            <!--begin::end_date-->
                            <td>{{ item.order }}</td>
                            <!--end::end_date-->
                            <!--begin::end_date-->
                            <td><img src="{{item.image.file}}" style="width:60px;height:40px;" data-src="" alt="Slide"></td>
                            <!--end::end_date-->
                            <!--begin::Action=-->
                            <td class="text-end">
                                <a (click)="editItemClicked(item)" data-bs-toggle="modal"
                                data-bs-target="#kt_modal_edit_slider" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                    <!--begin::Svg Icon | path: icons/duotone/Communication/Write.svg-->
                                    <span class="svg-icon svg-icon-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                                            viewBox="0 0 24 24" version="1.1">
                                            <path
                                                d="M12.2674799,18.2323597 L12.0084872,5.45852451 C12.0004303,5.06114792 12.1504154,4.6768183 12.4255037,4.38993949 L15.0030167,1.70195304 L17.5910752,4.40093695 C17.8599071,4.6812911 18.0095067,5.05499603 18.0083938,5.44341307 L17.9718262,18.2062508 C17.9694575,19.0329966 17.2985816,19.701953 16.4718324,19.701953 L13.7671717,19.701953 C12.9505952,19.701953 12.2840328,19.0487684 12.2674799,18.2323597 Z"
                                                fill="#000000" fill-rule="nonzero"
                                                transform="translate(14.701953, 10.701953) rotate(-135.000000) translate(-14.701953, -10.701953)">
                                            </path>
                                            <path
                                                d="M12.9,2 C13.4522847,2 13.9,2.44771525 13.9,3 C13.9,3.55228475 13.4522847,4 12.9,4 L6,4 C4.8954305,4 4,4.8954305 4,6 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,6 C2,3.790861 3.790861,2 6,2 L12.9,2 Z"
                                                fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                </a>
                                <a (click)="deleteItem(item.id)"
                                    class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                    <!--begin::Svg Icon | path: icons/duotone/General/Trash.svg-->
                                    <span class="svg-icon svg-icon-3">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                            viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <path
                                                    d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z"
                                                    fill="#000000" fill-rule="nonzero"></path>
                                                <path
                                                    d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z"
                                                    fill="#000000" opacity="0.3"></path>
                                            </g>
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                </a>
                            </td>
                            <!--end::Action=-->
                        </tr>
                        <!--end::Table row-->
                    </tbody>
                    <!--end::Table body-->
                </table>
                <!--end::Table-->
                <div class="has-text-centered">
                    <div class="spinner" [ngClass]="{ 'hidden': !utility.loader }"></div>
                    <mat-paginator #paginator showFirstLastButtons
                                        [length]="filter_config.totalItems"
                                        [pageSize]="filter_config.itemsPerPage"
                                        [pageSizeOptions]="filter_config.pageSizeOptions"
                                        (page)="pageChangeEvent($event)"
                                    >
                                    </mat-paginator>
                </div>
            </div>
            <!--end::Card body-->
        </div>
        <!--end::Card-->
    </div>
</div>

<div *ngIf="this.utility.loader" class="loading"></div>