<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container">
        <!--begin::Basic info-->
        <div class="card mb-5 mb-xl-10">
            <!--begin::Card header-->
            <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse"
                data-bs-target="#kt_account_profile_details" aria-expanded="true"
                aria-controls="kt_account_profile_details">
                <!--begin::Card title-->
                <div class="card-title m-0">
                    <h3 class="fw-bolder m-0">Auctions' Bids </h3>
                </div>
                <!--end::Card title-->
            </div>
            <!--begin::Card header-->
            <!--begin::Content-->
            <div id="kt_account_profile_details" class="collapse show">
                <div class="post d-flex flex-column-fluid" id="kt_post">
                    <!--begin::Container-->
                    <div id="kt_content_container" class="container">
                        <!--begin::Card-->
                        <div class="card">
                            <!--begin::Card body-->
                            <div class="card-body pt-0">
                                <!--begin::Table-->
                                <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_templates">
                                    <!--begin::Table head-->
                                    <thead>
                                        <!--begin::Table row-->
                                        <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                            <th>id</th>
                                            <th>Item</th>
                                            <th>User</th>
                                            <th>Date</th>
                                            <th>Amount</th>
                                            <th>is active</th>
                                        </tr>
                                        <!--end::Table row-->
                                    </thead>
                                    <!--end::Table head-->
                                    <!--begin::Table body-->
                                    <tbody class="text-gray-600 fw-bold">
                                        <!--begin::Table row-->
                                        <tr *ngFor="let bid of bids; let i = index;">
                                            <td> {{ (i+1) }} </td>
                                            <td><a [routerLink]="['/item-details']" [queryParams]="{ id: bid.item_id }">{{ bid.item_id | uppercase}}</a></td>
                                            <td><a [routerLink]="['/users']" [queryParams]="{ id: bid.user_id }">{{ bid.user_id | uppercase }}</a></td>
                                            <td>{{ bid.create_date | date:"short"}}</td>
                                            <td>{{ bid.amount }} OMR</td>
                                            <td>
                                                <div *ngIf="bid.active==1"
                                                    class="badge badge-light-success fw-bolder">Active</div>
                                                <div *ngIf="bid.active==0"
                                                    class="badge badge-light-danger fw-bolder">Not Active
                                                </div>
                                            </td>
                                        </tr>
                                        <!--end::Table row-->
                                    </tbody>
                                    <!--end::Table body-->
                                </table>
                                <!--end::Table-->
                            </div>
                            <!--end::Card body-->
                        </div>
                        <!--end::Card-->
                    </div>
                </div>
            </div>
            <!--end::Content-->
        </div>
        <!--end::Basic info-->
    </div>
    <!--end::Container-->
</div>
<!-- spinnner element is defined with id loading -->
<div *ngIf="this.utility.loader" class="loading"></div>