<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container">
        <!--begin::Basic info-->
        <div class="card mb-5 mb-xl-10">
            <!--begin::Card header-->
            <div class="card-header border-0 pt-6">
                <!--begin::Card title-->
                <div class="card-title">
                    <div class="d-flex align-items-center position-relative my-1">
                        <!--begin::Svg Icon | path: icons/duotone/General/Search.svg-->
                        <span class="svg-icon svg-icon-1 position-absolute ms-6">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24" />
                                    <path
                                        d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z"
                                        fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                    <path
                                        d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z"
                                        fill="#000000" fill-rule="nonzero" />
                                </g>
                            </svg>
                        </span>
                        <!--end::Svg Icon-->
                        <input type="text" data-kt-user-table-filter="search"
                            class="form-control form-control-solid w-250px ps-14" placeholder="Search bids"
                            [(ngModel)]="bidFilter" />
                    </div>
                </div>
                <!--end::Card title-->
            </div>
            <!--begin::Card header-->
            <!--begin::Content-->
            <div id="kt_account_profile_details" class="collapse show">
                <div class="post d-flex flex-column-fluid" id="kt_post">
                    <!--begin::Container-->
                    <div id="kt_content_container" class="container">
                        <!--begin::Card-->
                        <div class="card">
                            <!--begin::Card body-->
                            <div class="card-body pt-0">
                                <!--begin::Table-->
                                <table mat-table matSort (matSortChange)="sortData($event)"
                                    class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_templates">
                                    <!--begin::Table head-->
                                    <thead>
                                        <!--begin::Table row-->
                                        <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                            <th>{{ "id" | translate }}</th>
                                            <th>{{ "Item" | translate }}</th>
                                            <th>{{ "status" | translate }}</th>
                                            <th>{{ "User" | translate }}</th>
                                            <th>{{ "Date" | translate }}</th>
                                            <th>{{ "Amount" | translate }}</th>
                                            <th>{{ "active" | translate }}</th>
                                            <th>Actions</th>
                                        </tr>
                                        <!--end::Table row-->
                                    </thead>
                                    <!--end::Table head-->
                                    <!--begin::Table body-->
                                    <tbody class="text-gray-600 fw-bold">
                                        <!--begin::Table row-->
                                        <tr *ngFor="let bid of bids | bidsPipe: bidFilter  ; let i = index;">
                                            <td> {{ (i+1) }} </td>
                                            <td><a [routerLink]="['/item-details']"
                                                    [queryParams]="{ id: bid.item.id }">{{ bid.item.title.en }}</a></td>
                                            <td>
                                                <div class="badge badge-info">{{ bid.item.item_status }}</div>
                                            </td>
                                            <td><a [routerLink]="['/users']" [queryParams]="{ id: bid.user.id }">{{
                                                    bid.user.phone }}</a></td>
                                            <td>{{ bid.create_date | date:"short"}}</td>
                                            <td>{{ bid.amount }} OMR</td>
                                            <td>
                                                <div *ngIf="bid.active==1" class="badge badge-light-success fw-bolder">
                                                    Active</div>
                                                <div *ngIf="bid.active==0" class="badge badge-light-danger fw-bolder">
                                                    Not Active
                                                </div>
                                            </td>
                                            <td class="text-end">
                                                <a title="Disable This Bid" (click)="disableBid(bid.id)"
                                                    class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                                    <!--begin::Svg Icon | path: icons/duotone/General/Trash.svg-->
                                                    <span class="svg-icon svg-icon-3 svg-icon-danger">
                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                            height="24px" viewBox="0 0 24 24" version="1.1">
                                                            <g stroke="none" stroke-width="1" fill="none"
                                                                fill-rule="evenodd">
                                                                <mask fill="white">
                                                                    <use xlink:href="#path-1" />
                                                                </mask>
                                                                <g />
                                                                <path
                                                                    d="M7,10 L7,8 C7,5.23857625 9.23857625,3 12,3 C14.7614237,3 17,5.23857625 17,8 L17,10 L18,10 C19.1045695,10 20,10.8954305 20,12 L20,18 C20,19.1045695 19.1045695,20 18,20 L6,20 C4.8954305,20 4,19.1045695 4,18 L4,12 C4,10.8954305 4.8954305,10 6,10 L7,10 Z M12,5 C10.3431458,5 9,6.34314575 9,8 L9,10 L15,10 L15,8 C15,6.34314575 13.6568542,5 12,5 Z"
                                                                    fill="#000000" />
                                                            </g>
                                                        </svg>
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                        <!--end::Table row-->
                                    </tbody>
                                    <!--end::Table body-->
                                </table>
                                <!--end::Table-->
                                <div class="has-text-centered">
                                    <div class="spinner" [ngClass]="{ 'hidden': !utility.loader }"></div>
                                    <mat-paginator #paginator showFirstLastButtons [length]="filter_config.totalItems"
                                        [pageSize]="filter_config.itemsPerPage"
                                        [pageSizeOptions]="filter_config.pageSizeOptions"
                                        (page)="pageChangeEvent($event)">
                                    </mat-paginator>
                                </div>
                                <!--end::Card body-->
                            </div>
                            <!--end::Card-->
                        </div>
                    </div>
                    <div *ngIf="errorMessage" class="swal2-container swal2-center swal2-backdrop-show"
                        style="overflow-y: auto;">
                        <div aria-labelledby="swal2-title" aria-describedby="swal2-content"
                            class="swal2-popup swal2-modal swal2-icon-error swal2-show" tabindex="-1" role="dialog"
                            aria-live="assertive" aria-modal="true" style="display: flex;">
                            <div class="swal2-header">
                                <div class="swal2-icon swal2-error swal2-icon-show" style="display: flex;"><span
                                        class="swal2-x-mark">
                                        <span class="swal2-x-mark-line-left"></span>
                                        <span class="swal2-x-mark-line-right"></span>
                                    </span>
                                </div><img class="swal2-image" style="display: none;">
                                <h2 class="swal2-title" id="swal2-title" style="display: none;"></h2><button
                                    type="button" class="swal2-close" aria-label="Close this dialog"
                                    style="display: none;">×</button>
                            </div>
                            <div class="swal2-content">
                                <div id="swal2-content" class="swal2-html-container" style="display: block;">Sorry,
                                    looks like there
                                    are some errors detected, please try again.</div>
                            </div>
                            <div class="swal2-actions">
                                <div class="swal2-loader"></div>
                                <button type="button" class="swal2-confirm btn btn-light" style="display: inline-block;"
                                    (click)="errorMessage=false">Ok, got it!</button>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="successMessage" class="swal2-container swal2-center swal2-backdrop-show"
                        style="overflow-y: auto;">
                        <div aria-labelledby="swal2-title" aria-describedby="swal2-content"
                            class="swal2-popup swal2-modal swal2-icon-success swal2-show" tabindex="-1" role="dialog"
                            aria-live="assertive" aria-modal="true" style="display: flex;">
                            <div class="swal2-header">
                                <div class="swal2-icon swal2-success swal2-icon-show" style="display: flex;">
                                    <div class="swal2-success-circular-line-left"
                                        style="background-color: rgb(255, 255, 255);">
                                    </div>
                                    <span class="swal2-success-line-tip"></span> <span
                                        class="swal2-success-line-long"></span>
                                    <div class="swal2-success-ring"></div>
                                    <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
                                    <div class="swal2-success-circular-line-right"
                                        style="background-color: rgb(255, 255, 255);">
                                    </div>
                                </div><img class="swal2-image" style="display: none;">
                                <h2 class="swal2-title" id="swal2-title" style="display: none;"></h2><button
                                    type="button" class="swal2-close" aria-label="Close this dialog"
                                    style="display: none;">×</button>
                            </div>
                            <div class="swal2-content">
                                <div id="swal2-content" class="swal2-html-container" style="display: block;">Request has
                                    been
                                    successfully submitted!</div>
                            </div>
                            <div class="swal2-actions">
                                <div class="swal2-loader"></div><button type="button"
                                    class="swal2-confirm btn btn-primary" (click)="successMessage=false"
                                    style="display: inline-block;">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::Content-->
            </div>
            <!--end::Basic info-->
        </div>
        <!--end::Container-->
    </div>
    <!-- spinnner element is defined with id loading -->
    <div *ngIf="this.utility.loader" class="loading"></div>
</div>