<div id="kt_account_profile_details" class="collapse show">
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <div id="kt_content_container" class="container">
            <div class="post d-flex flex-column-fluid" id="kt_post">
                <!--begin::Container-->
                <div id="kt_content_container" class="container" style="width: 70%;">
                    <!--begin::Invoice 2 main-->
                    <div class="card">
                        <!--begin::Body-->
                        <div class="card-body p-lg-10">
                            <!--begin::Layout-->
                            <div class="d-flex flex-column flex-xl-row">
                                <!--begin::Content-->
                                <div class="flex-lg-row-fluid mx-8 mb-10 mb-xl-0" dir="auto">
                                    <!--begin::Invoice 2 content-->
                                    <div class="mt-n1">
                                        <!--begin::Wrapper-->
                                        <div class="m-0">
                                            <!--begin::Label-->
                                            <div class="fw-bolder fs-3 text-gray-800 mb-8">
                                                {{ 'recipt_no' | translate }} {{ this.invoice?.number }}</div>
                                            <!--end::Label-->
                                            <div class="row"
                                                style="height: 5px; background-color: #51689c; margin-bottom: 15px; margin-top: 10px;">
                                            </div>
                                            <!--begin::Row-->
                                            <div class="row g-5 mb-11">
                                                <!--end::Col-->
                                                <div class="col-sm-6">
                                                    <!--end::Label-->
                                                    <div class="fw-bold fs-7 text-gray-600 mb-1">
                                                        {{ 'Date_of_issue' | translate }}
                                                    </div>
                                                    <!--end::Label-->
                                                    <!--end::Col-->
                                                    <div class="fw-bolder fs-6 text-gray-800">
                                                        {{this.invoice?.date | date:'mediumDate'}}
                                                    </div>
                                                    <!--end::Col-->
                                                </div>
                                                <!--end::Col-->
                                                <!--end::Col-->
                                                <div class="col-sm-6">
                                                    <!--end::Label-->
                                                    <div class="fw-bold fs-7 text-gray-600 mb-1">

                                                        {{ 'payway' | translate }}

                                                    </div>
                                                    <!--end::Label-->
                                                    <!--end::Info-->
                                                    <div class="fw-bolder fs-6 text-gray-800">
                                                        {{this.invoice?.model_type | titlecase }}
                                                    </div>
                                                    <!--end::Info-->
                                                </div>
                                                <!--end::Col-->
                                            </div>
                                            <!--end::Row-->
                                            <!--begin::Row-->
                                            <div class="row g-5 mb-5">
                                                <!--end::Col-->
                                                <div class="col-sm-6" style="margin: 0;">
                                                    <!--end::Label-->
                                                    <div class="fw-bold fs-7 text-gray-600 mb-1">
                                                        {{ 'Issue_For' | translate }}
                                                    </div>
                                                    <!--end::Label-->
                                                    <!--end::Text-->
                                                    <div class="fw-bolder fs-6 text-gray-800" *ngIf="this.invoice?.user_details.details.name_en">
                                                        {{this.invoice?.user_details.details.name_en}}</div>
                                                    <!--end::Text-->
                                                    <!--end::Text-->
                                                    <div class="fw-bolder fs-7 text-gray-600">
                                                        {{this.invoice?.user_details.email}}</div>
                                                    <!--end::Text-->
                                                    <!--end::Description-->
                                                    <div class="fw-bold fs-7 text-gray-600">
                                                        {{this.invoice?.user_details.phone}}
                                                        <!-- <br />Livonia, MI 48150 -->
                                                    </div>
                                                    <!--end::Description-->
                                                </div>
                                                <!--end::Col-->
                                                <!--end::Col-->
                                                <div class="col-sm-6" style="margin: 0;">
                                                    <!--end::Label-->
                                                    <div class="fw-bold fs-7 text-gray-600 mb-1">
                                                        {{ 'Issued_By' | translate }}   
                                                    </div>
                                                    <!--end::Label-->
                                                    <!--end::Text-->
                                                    <div class="fw-bolder fs-6 text-gray-800">
                                                        {{ 'mazad' | translate }}
                                                    </div>
                                                    <!--end::Text-->
                                                    <!--end::Description-->
                                                    <div class="fw-bold fs-7 text-gray-600">
                                                        {{ 'Digital Leadership LLC' | translate }}
                                                        <!-- <br />Matthews, NC 28104 -->
                                                    </div>
                                                    <!--end::Description-->
                                                    <!--end::Description-->
                                                    <div class="fw-bold fs-7 text-gray-600">91900950 | 99871109 | 90125442
                                                        <!-- <br />Matthews, NC 28104 -->
                                                    </div>
                                                    <!--end::Description-->
                                                </div>
                                                <!--end::Col-->
                                            </div>
                                            <!--end::Row-->
                                        </div>
                                        <!--end::Wrapper-->
                                        <!--begin::Table-->
                                        <hr style="margin-top: 15px; height:2px;border:none;color:#51689c;background-color:#51689c;">
                                        <div class="table-responsive">
                                            <table class="table mb-0">
                                                <thead>
                                                    <tr class="fs-8 fw-bolder text-gray-400">
                                                        <th class="min-w-70px text-end pb-2">
                                                            {{ 'Description' | translate }}
                                                        </th>
                                                        <th class="min-w-80px text-end pb-2">
                                                            {{ 'auction' | translate }}
                                                        </th>
                                                        <th class="min-w-100px text-end pb-2">
                                                            {{ 'total' | translate }}
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="fw-bolder text-gray-700 fs-8 text-end">
                                                        <td>{{this.invoice?.details.description}}
                                                        </td>
                                                        <td>{{this.invoice?.details.fee}}
                                                        </td>
                                                        <td class="text-dark fw-boldest">
                                                            {{this.invoice?.details.amount |
                                                            currency:' OMR '}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!--end::Table-->
                                        <div class="row" style="height: 5px; background-color: #51689c; margin-bottom: 5px;"></div>
                                        <!--begin::Container-->
                                        <div class="d-flex justify-content-end">
                                            <!--begin::Section-->
                                            <div class="mw-300px">
                                                <!--begin::Item-->
                                                <div class="d-flex flex-stack">
                                                    <!--begin::Code-->
                                                    <div class="fw-bold pe-10 text-gray-600 fs-7">
                                                        {{ 'total' | translate }}
                                                         </div>
                                                    <!--end::Code-->
                                                    <!--begin::Label-->
                                                    <div class="text-end fw-bolder fs-6 text-gray-800">
                                                        {{this.invoice?.total_amount |
                                                        currency:' OMR ' }}</div>
                                                    <!--end::Label-->
                                                </div>
                                                <!--end::Item-->
                                            </div>
                                            <!--end::Section-->
                                        </div>
                                        <!--end::Container-->
                                    </div>
                                    <!--end::Invoice 2 content-->
                                </div>
                                <!--end::Content-->
                            </div>
                            <!--end::Layout-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Invoice 2 main-->
                </div>
                <!--end::Container-->
            </div>
        </div>
    </div>
</div>